{% use 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}
{% use 'ESBaseBundle:Form:cameleon_theme.html.twig' %}
{% use 'ESFileUploadBundle:Form:types.html.twig' %}

{% block form_start %}
    {% spaceless %}
        {{ bootstrap_backup_form_settings() }}
        {% set method = method|upper %}
        {% if method in ["GET", "POST"] %}
            {% set form_method = method %}
        {% else %}
            {% set form_method = "POST" %}
        {% endif %}

        {% set style = style|default('horizontal') %}
        {% if style is defined %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-' ~ style)|trim }) %}
            {{ bootstrap_set_style(style) }}
        {% endif %}

        {% if form.vars.errors|length > 0 %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' has-global-errors')|trim }) %}
        {% endif %}

        {% if col_size is defined %}
            {{ bootstrap_set_col_size(col_size) }}
        {% endif %}

        {% if widget_col is defined %}
            {{ bootstrap_set_widget_col(widget_col) }}
        {% endif %}

        {% if label_col is defined %}
            {{ bootstrap_set_label_col(label_col) }}
        {% endif %}

        {% if simple_col is defined %}
            {{ bootstrap_set_simple_col(simple_col) }}
        {% endif %}

        {% if attr.role is not defined or attr.role is empty %}
            {% set attr = attr|merge({ 'role': 'form' }) %}
        {% endif %}

        <form  name="{{ form.vars.name }}"
               method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
        {% if form_method != method %}
            <input type="hidden" name="_method" value="{{ method }}"/>
        {% endif %}
    {% endspaceless %}

    {% if attr.terms_not_accepted is defined and attr.terms_not_accepted %}
        <script>
            $(function () {
                $("form[name={{ id }}]").submit(function (e) {
                    e.preventDefault();
                    Cameleon.modal.load('{{ path('accept_terms_modal') }}')
                });
            })
        </script>
    {% endif %}
{% endblock form_start %}

{% block form_row %}
    {% spaceless %}
        {% set style = style|default(bootstrap_get_style()) %}
        {% set col_size = col_size|default(bootstrap_get_col_size()) %}

        {% if attr.label_col is defined and attr.label_col is not empty %}
            {% set label_col = attr.label_col %}
        {% endif %}
        {% if attr.widget_col is defined and attr.widget_col is not empty %}
            {% set widget_col = attr.widget_col %}
            {% if label is sameas(false) and label_col is defined %}
                {% set widget_col = widget_col + label_col %}
            {% endif %}
        {% endif %}
        {% if attr.col_size is defined and attr.col_size is not empty %}
            {% set col_size = attr.col_size %}
        {% endif %}
        {% if attr.style is defined and attr.style is not empty %}
            {% set style = attr.style %}
        {% endif %}

        {% set label_col = label_col|default(bootstrap_get_label_col()) %}
        {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}

        <div class="control-group{% if form.vars.errors|length > 0 %} has-error{% endif %}">
            {% if style == 'horizontal' %}
                {{ form_label(form) }}
                <div class="col-{{ col_size }}-{{ widget_col }}">
                    <div class="controls">
                        {{ block('form_input_group') }}
                        {{ block('form_help') }}
                        {{ form_errors(form) }}
                    </div>
                </div>
            {% else %}
                {{ form_label(form) }}
                {{ block('form_input_group') }}
                {{ block('form_help') }}
                {{ form_errors(form) }}
            {% endif %}
        </div>

        {% if style == 'inline' %}&nbsp;{% endif %}
    {% endspaceless %}
{% endblock form_row %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim }) %}
        <label for="{{ id }}" class="select">
            <div class="bg">
                <span class="caret"></span>
            </div>
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {% if empty_value is not none %}
                    <option {% if required %} disabled="disabled"{% if value is empty %} selected="selected"{% endif %}{% endif %}
                            value="">{{ empty_value|trans({}, translation_domain) }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('choice_widget_options') }}
                    {% if choices|length > 0 and separator is not none %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        </label>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}


{% block submit_row %}
    <div class="pull-right">
        {{ form_widget(form, {attr: {class: 'btn primary2' }}) }}
    </div>
{% endblock %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty and label is not sameas(false) %}
            {% set label = name|humanize %}
        {% endif %}
        {% if as_link is defined and as_link == true %}
            <a {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}{{ icon(attr.icon) }}{% endif %}{{ label|trans({}, translation_domain) }}</a>
        {% else %}
            <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}{{ icon(attr.icon) }}{% endif %}{{ label|trans({}, translation_domain) }}</button>
        {% endif %}
    {% endspaceless %}
{% endblock button_widget %}

{% block collection_widget_row %}
    {% spaceless %}
        <div class="cn-collection-row">
            {{ form_widget(child) }}
            {% if allow_delete %}
                <div class="cn-collection-delete text-right">
                    <a href="javascript:void(0)" class="cn-collection-delete-btn">
                        <i class="fa fa-remove"></i>
                        Supprimer
                    </a>
                </div>
            {% endif %}
            <hr>
        </div>
    {% endspaceless %}
{% endblock %}

{% block file_preview %}
    <div class="cn-file-preview clearfix">
        {% if display_preview_name %}
            <div class="cn-file-name">
                <a href="{{ file and file.url ? asset(file.url) : 'javascript:void(0)' }}" target="_blank">
                    {{ file ? file.name : null }}
                </a>
            </div>
        {% endif %}

        {% if not file %}
            <div class="cn-progress progress progress-striped active">
                <div class="cn-progress-bar progress-bar bar" role="progressbar"></div>
            </div>
        {% endif %}

        <div class="cn-fileupload-errors"></div>
    </div>
{% endblock %}

{% block es_file_widget %}
    {% spaceless %}
        <div id="{{ id }}" class="cn-fileupload">
            {{ form_widget(form.file, {attr: {style: 'display:none;' }}) }}
            {% if browse_label is not empty %}
                {{ block('browse_button') }}
            {% endif %}
            {{ form_widget(form.id) }}

            <div class="cn-template" style="display: none">
                {% set file = null %}
                {{ block('file_preview') }}
            </div>
            {% if display_preview %}
                <div class="cn-files">
                    {% for file in files %}
                        {% if file.id %}
                            {{ block('file_preview') }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {{ form_errors(form.file) }}

        <script>
            $(function () {
                var $file = $('#{{ id }}');
                $file.cameleonFileUpload({{ js_options|raw }});
                $file.find('input[type=file]').on('fileuploadadd', function (e, data) {
                    var $name = $file.closest('.cn-collection-row, .bloc').find('input[type=text]');
                    if (!$name.val()) {
                        $.each(data.files, function (index, file) {
                            $name.val(file.name);
                        });
                    }
                });
            });
        </script>
    {% endspaceless %}
{% endblock %}
