{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="user-index content-wrp">
        <h3>Rechercher un membre</h3>

        <div class="bloc search-block">
            <form role="form">
                <div class="control-group">

                    <div class="row-fluid">
                        <input class="gray-input form-control" type="text" name="q"
                               value="{{ search_query is defined ? search_query : '' }}"
                               placeholder="J’entre un prénom, un nom...">
                    </div>
                </div>
                {% if error is defined %}
                    <div class="row-fluid">
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    </div>
                {% endif %}
                <div class="pull-right">
                    <button type="submit" class="btn">Trouver</button>
                </div>
            </form>
        </div>
        {% if results is defined %}
            <div class="heading paginate">
                <div class="title">
                    {% if search_query %}
                        {{ '%count% résultat|%count% résultats'|transchoice(count) }}
                    {% endif %}
                </div>
                {% if results.haveToPaginate %}
                    {{ pagerfanta(results) }}
                {% endif %}
            </div>
            <div class="bloc user-list clearfix">
                {% if count %}
                    {% for item in results %}
                        <div class="col6">
                            {% include 'AppBundle:Search:types/' ~ get_object_key(item) ~ '.html.twig' %}
                        </div>
                    {% endfor %}

                {% else %}
                    <p>Aucun membre ne correspond à votre recherche.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
