{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="content-wrp">
        <div class="heading push-down">
            <div class="title">
                Contact
            </div>
        </div>
        {{ form(contact_form) }}
    </div>
{% endblock %}