<div class="document-list">
    {% for document in documents %}
        {% include 'AppBundle:Document:oneDocument.html.twig' %}
    {% endfor %}
</div>


{#{{ pager.paginate(pages_count) }}#}
<script>
    $(".document .close").click(function (e) {
        e.preventDefault();
        if (confirm("Voulez-vous vraiment supprimer ce document ?")) {
            var $line = $(this).closest(".document");
            Cameleon.request.post($(this).attr("href"), {}, function () {
                $line.remove();
            });
        }
    });
    $(".add-document").click(function (e) {
        e.preventDefault();
        $("#add-document").slideToggle();
    });
</script>