{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="heading links">
        <div class="title">Documents</div>
        {% if documentForm is defined %}
            <span>
			<i class="basic-s-blue_09"></i>
			<a href="#" class="add-document">Ajouter un document</a>
		</span>
        {% endif %}
    </div>

    {% if documentForm is defined %}
        <div id="add-document"{% if not documentForm.vars.submitted %} style="display: none"{% endif %}>
            {% include 'AppBundle:Document:form.html.twig' with {form: documentForm} %}
        </div>
    {% endif %}
    {% include 'AppBundle:Document:indexContent.html.twig' %}
{% endblock %}