<div class="document">
    <div class="doc-left">
        <div class="media">
            <div class="media-object">
                <span class="basic-brown_20"></span>
            </div>

            <div class="media-body">
                <p class="doc-name">{{ document.name }}</p>

                <div class="doc-desc">
                    <span class="doc-timestamp">
                        {{ document.createdAt|localizeddate('medium', 'short') }}
                    </span> |
                    <span>
                        Dernière version par
                        <a href="{{ es_path('user_show', {id: document.user.id}) }}">{{ document.user.displayName }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="doc-right">
        {% if is_granted('DELETE', document) or is_granted('OPERATOR', document.object.object) %}
        <a href="{{ path('document_delete', {document: document.id}) }}" title="Supprimer le document"
           class="close">x</a>
        {% endif %}

        <div class="doc-download">
            <span class="basic-brown_38"></span>
            <a href="{{ es_path('document_download', {'document': document.id, 'hash': document.hash }) }}">
                Télécharger
            </a>
        </div>
    </div>
</div>
