<div id="cgu_accept_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vous devez accepter les CGU</h4>
            </div>
            <div class="modal-body">
                <p>Pour naviguer sur le site ou soumettre une idée, vous devez accepter les Conditions Générales
                    d'Utilisation en cliquant sur "Editer mon profil", puis cocher en bas de la page "J'accepte les
                    CGU".</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">Editer mon profil</a>
            </div>
        </div>
    </div>
</div>
