<div class="one-social social-actions binded cn-comments"
     data-subject="{{ subject.id }}"
     id="cn-comments-{{ subject.id }}">
    <ul>
        <li class="list-comments cn-comment-action">
            <a href="javascript:void(0)" class="cn-action cn-label">
                <i class="basic-s-blue_44"></i>
                {% if subject.countComments == 0 %}
                    Soyez le premier à commenter
                {% else %}
                    Commenter (<span class="counter">{{ subject.countComments }}</span>)
                {% endif %}
            </a>
        </li>
        {% block like %}
            <li class="like cn-like{% if es_has_liked(subject) %} liked{% endif %}"
                data-subject="{{ subject.id }}"{% if es_has_liked(subject) %} data-has-liked{% endif %}>
                <a href="javascript:void(0)" class="cn-action">
                    <i class="custom-blue_52"></i><span
                            class="lbl cn-label">{{ (es_has_liked(subject) ? 'like.liked' : 'like.like')|trans({}, 'ESSocialBundle') }}</span></a>
                (<span class="counter">{{ subject.countLikes }}</span>)
            </li>
        {% endblock %}
        {% block votes %}
            {% if idea.status not in ['admin_pending', 'draft', 'study_pending', 'refused'] %}
                {% set vote = es_get_vote(subject) %}
                <li class="cn-vote{% if vote == -1 %} down-active{% elseif vote == 1 %} up-active{% endif %}"
                    data-subject="{{ subject.id }}" data-vote="{{ vote }}">
                    Vote :
            <span class="up">
                <a href="javascript:void(0)" class="cn-action" title="Je trouve cette proposition intéressante">
                    <i class="vote-icon"></i>
                    <span class="counter">{{ subject.countUpVotes }}</span>
                </a>
            </span>
            <span class="down">
                <a href="javascript:void(0)" class="cn-action" title="Je ne suis pas convaincu par cette idée">
                    <i class="vote-icon"></i>
                    <span class="counter">{{ subject.countDownVotes }}</span>
                </a>
            </span>
                </li>
            {% endif %}
        {% endblock %}
        <li class="cn-report-abuse report-abuse" data-subject="{{ subject.id }}"><i class="sprite-report"></i>
            <a href="javascript:void(0)" class="cn-action">
                Signaler un abus
            </a>
        </li>
    </ul>
    <div class="comments-container cn-container{% if comments is not defined %} cn-closed{% endif %}">
        <div class="comments">
            <ul class="one-list-of-comments cn-list">
                {% if comments is defined %}
                    {% include 'ESSocialBundle:Comment:comments.html.twig' %}
                {% endif %}
            </ul>
        </div>
        <div class="comment-form form-comment cn-form">
            <form action="{{ path('es_social_comment_comment') }}" class="media" method="post">
                <input type="hidden" name="id" value="{{ subject.id }}">
                <input type="hidden" name="last_comment"
                       value="{% if comments is defined %}{{ comments.firstId }}{% else %}0{% endif %}">

                <div class="errors"></div>
                <a class="pull-left" href="{{ path('user_show', {id: app.user.id}) }}">
                    <img class="media-object"
                         src="{{ app.user|image('picture', 'small') }}"
                         width="50">
                </a>

                <div class="media-body">
                    <textarea placeholder="Votre commentaire..." name="message" rows="1" required="required"
                              style="margin-top: 0; margin-bottom: 7px; height: 14px;"></textarea>
                    <input type="submit" class="btn" value="Commenter">
                </div>
            </form>

        </div>
    </div>
</div>