{% include 'ESSocialBundle:Feed:js.html.twig' %}
{% include 'ESSocialBundle:Like:js.html.twig' %}
{% include 'ESSocialBundle:Comment:js.html.twig' %}
{% include 'ESSocialBundle:Vote:js.html.twig' %}
{% include 'ESSocialBundle:ReportAbuse:js.html.twig' %}