<header>
    <div class="container">

        <div class="action clearfix">
            <!-- @header-user-menu -->
            <ul class="nav user">
                <li class="nb">
                    <a href="{{ path('es_notification_notifications') }}">
                        <i class="custom-black_44"></i>
                        <span class="label">{{ app.user.countUnreadNotifications }}</span>
                    </a>
                </li>
                <li class="nb">
                    <a href="{{ path('fos_message_inbox') }}">
                        <i class="custom-black_43"></i>
                        <span class="label">{{ app.user.countUnreadMessages }}</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" id="user-menu" role="button" data-toggle="dropdown"
                       href="javascript:void(0)">
                        <img src="{{ app.user|image('picture', 'tiny') }}">
                        <span>{{ app.user.fullname }}</span>
                        <b class="caret"></b>
                        {% if app.user.roles|length > 1 %}
                            <div class="user-role">({{ app.user.roles|join(', ')|replace('ROLE_', '') }})</div>
                        {% endif %}
                    </a>
                    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="user-menu">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li role="presentation"><a role="menuitem" tabindex="-1"
                                                       href="{{ path('sonata_admin_dashboard') }}">
                                    <span class="basic-s-black_05"></span>Administration</a>
                            </li>
                        {% endif %}
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="{{ path('user_show', {id: app.user.id}) }}"><span
                                        class="basic-s-black_19"></span>Mon profil</a></li>

                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="{{ path('user_contacts') }}"><span
                                        class="basic-s-black_14"></span>Mes contacts</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('search_index') }}"><span
                                        class="basic-s-black_41"></span>Rechercher un membre</a></li>

                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="{{ path('aerial_ship_saml_sp.security.logout') }}">
                                <span class="basic-s-black_07"></span>Se
                                déconnecter</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- @header-logo -->
        <a class="logo" href="{{ path('homepage') }}" title="AG2R LA MONDIALE, le contraire de seul au monde">
            <img src="{{ asset('bundles/app/images/common/logo.png') }}"
                 alt="AG2R LA MONDIALE, le contraire de seul au monde"/>
        </a>

    </div>
</header>

