<!DOCTYPE html>
<!--[if IE 8]>
<html lang="fr" class="ltie9"><![endif]-->
<!--[if IE 9]>
<html lang="fr" class="ie9"><![endif]-->
<!-- [if !IE] -->
<html lang="fr"><!-- [endif] -->

<head>
    <title>{% block title %}AG2R Idées{% endblock %}</title>

    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">

    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('bundles/app/css/style.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/esbase/css/font-awesome.min.css') }}" rel="stylesheet" media="screen">
        {% for src in get_css_includes() %}
            <link href="{{ src }}" rel="stylesheet">
        {% endfor %}
    {% endblock %}

    {% block javascript_head %}
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/app/js/respond.min.js') }}"></script>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% if app.debug %}
        <script type="text/javascript" src="{{ asset('bundles/esbase/js/jquery.min.js') }}"></script>
        {% else %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        {% endif %}
        <script>
            {# Cameleon init #}
            (function ($) {
                $.fn.cameleonReady = function (fn) {
                    return this.on('cameleon-ready', fn);
                };
                $(document).ready(function () {
                    $(document).trigger('cameleon-ready');
                });
            })(jQuery);
        </script>
    {% endblock %}
</head>

<body class="{% block body_class %}is-cat-1{% endblock %}">
{% block body %}

    <div class="wrapper">
        <div id="live-flashes-container" class="modal hide fade in" style="display: none;"></div>

        {% include 'AppBundle::header.html.twig' %}
        {% include 'AppBundle::navbar.html.twig' %}

        <div class="main container">
            <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full"
               data-uv-primary-color="#cc6d00"
               data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="210190"><img
                        src="{{ asset('bundles/app/images/feedback.png') }}"
                        style="position: fixed; left:0; top:30%;"></a>

            <div class="row">
                {% block _container %}
                    <div class="span9">
                        {% include 'ESBaseBundle:Flashes:messages.html.twig' %}
                        <section role="main" class="content">
                            {% block breadcrumb %}
                                {% set currentItem = cnerta_breadcrumb_get('AppBundle:MainBuilder:mainMenu') %}
                                {% if currentItem|length > 0 and currentItem.0.label %}
                                    <ul class="breadcrumb">
                                        {% set homepageUrl = path('homepage') %}
                                        {% if app.request.requestUri != homepageUrl %}
                                            <li{% if currentItem|length == 0 %} class="active"{% endif %}>
                                                <a href="{{ homepageUrl }}">Accueil</a>
                                                {% if currentItem|length > 0 %}
                                                    <span class="divider">&gt;</span>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                        {% for item in currentItem %}
                                            <li{% if loop.last %} class="active"{% endif %}>
                                                <a href="{{ item.uri }}">{{ item.label }}</a>
                                                {% if not loop.last %}
                                                    <span class="divider">&gt;</span>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endblock %}
                            {% block content %}{% endblock %}
                        </section>
                    </div>
                    <div class="span3">
                        <aside class="sidebar">

                            <div class="search">
                                <form action="{{ path('search_index') }}" method="get" class="search-form" id="form_search"
                                      name="form_search">
                                    <input type="text" name="q" id="input_search" class="search-input"
                                           placeholder="Rechercher...">
                                    <label for="search-submit"><i class="custom-blue_51"></i></label>
                                    <input id="search-submit" type="submit" value="Go" class="hide"/>
                                </form>
                            </div>

                            {{ render(controller('AppBundle:Partial:ideaCategories')) }}
                            {% block user_suggest_widget %}
                            {{ render(controller('AppBundle:Partial:suggest')) }}
                            {% endblock %}
                        </aside>
                        <script>
                            function checkSearch() {
                                var input = document.getElementById('input_search').value;
                                return input != "";
                            }
                        </script>
                    </div>
                {% endblock %}

            </div>
        </div>
    </div>

    <footer class="container">
        <div class="navbar">
            <nav>
                <ul class="unstyled">
                    <li><a href="{{ path('instructions') }}" title="Mode d'emploi">Mode d'emploi</a> <span class="divider"> | </span>
                    </li>
                    <li><a href="javascript:void(0)" onclick="termsModal()" data-toggle="modal" data-target="#cgu-modal">Charte
                            d'utilisation</a> <span class="divider"> | </span></li>
                    <li><a href="{{ path('es_base_contact_form') }}">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
{% endblock %}

{% block javascript_footer %}
    <script type="text/javascript" src="{{ asset('bundles/esbase/js/bootstrap.min.js') }}"></script>
    {% javascripts
    '@AppBundle/Resources/js/app.js'
    '@AppBundle/Resources/js/jquery.bxslider.min.js'
    '@ESBaseBundle/Resources/js/cameleon.confirm.js'
    '@ESBaseBundle/Resources/js/cameleon.form.js'
    '@ESBaseBundle/Resources/js/cameleon.image-viewer.js'
    '@ESBaseBundle/Resources/js/cameleon.request.js'
    '@ESBaseBundle/Resources/js/cameleon.loadmore.js'
    '@ESBaseBundle/Resources/js/cameleon.modal.js'
    '@ESFileUploadBundle/Resources/js/jquery-file-upload/jquery.ui.widget.js'
    '@ESFileUploadBundle/Resources/js/jquery-file-upload/jquery.iframe-transport.js'
    '@ESFileUploadBundle/Resources/js/jquery-file-upload/jquery.fileupload.js'
    '@ESFileUploadBundle/Resources/js/jquery-file-upload/load-image.all.min.js'
    '@ESFileUploadBundle/Resources/js/jquery-file-upload/jquery.fileupload-process.js'
    '@ESFileUploadBundle/Resources/js/jquery-file-upload/jquery.fileupload-image.js'
    '@ESFileUploadBundle/Resources/js/cameleon.fileupload.js'
    '@ESSocialBundle/Resources/js/jquery.embedly.js'
    '@ESSocialBundle/Resources/js/cameleon.embedly.js'
    '@ESSocialBundle/Resources/js/cameleon.interaction.js'
    '@ESSocialBundle/Resources/js/cameleon.comments.js'
    '@ESSocialBundle/Resources/js/cameleon.feed.js'
    '@ESSocialBundle/Resources/js/cameleon.report_abuse.js'
    '@AppBundle/Resources/js/jplist.3.4.min.js'
    output='js/main.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!--[if lt IE 10]>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.placeholder.2_0_8.min.js') }}"></script>
    <script type="text/javascript">
        $(function (){
            $('input, textarea').placeholder();
        });
    </script>
    <![endif]-->
    <script type="text/javascript">
        $(function () {
            $(document).cameleonConfirm();
        });
        function termsModal() {
            $('#cgu-modal, .modal-backdrop').remove();
            Cameleon.modal.load('{{ path('terms') }}', {
                bindForm: true
            });
        }
    </script>
{% endblock %}

{% for src in get_js_includes() %}
    <script src="{{ src }}"></script>
{% endfor %}

{{ get_js_code() }}
</body>
</html>
