<div class="header-nav container">
    <nav class="navbar">
        {#<ul class="nav">#}
        {#<li class="{% if server.REQUEST_URI starts with '/idea/' %} active{% endif %}"><a href="/idea/all">Innovation#}
        {#participative</a></li>#}
        {#<li class="{% if server.REQUEST_URI starts with '/innovation/' %} active{% endif %}"><a#}
        {#href="/innovation/all">Catalogue des innovations</a></li>#}
        {#{% if SOCIAL_ACTIVE %}#}
        {#<li{% if server.REQUEST_URI starts with '/group/' %} class="active"{% endif %}><a href="/group/all">Communautés</a>#}
        {#</li>#}
        {#{% endif %}#}
        {#</ul>#}
        {{ knp_menu_render('AppBundle:MainBuilder:mainMenu', { 'style': 'navbar' }) }}
    </nav>
</div>
