{% set user = item %}
{% embed 'AppBundle:User:oneUser.html.twig' %}
    {% block actions %}
        {% if app.user != user and not es_is_friend(user) %}
            <a href="{{ path('es_user_friend_request', {user: user.id}) }}"
               title="Ajouter à mes contacts" class="pull-right message">
                <i class="custom-blue_42"></i>
            </a>
        {% endif %}
    {% endblock %}
{% endembed %}