{% extends 'AppBundle::layout.html.twig' %}

{% if form is defined %}
    {% form_theme form 'AppBundle:Form:lightTheme.html.twig' %}
{% endif %}

{% block body %}
    <div class="wrapper">
        <div id="live-flashes-container" class="modal hide fade in" style="display: none;"></div>
        <header>
            <div class="container">

                <div class="action clearfix">
                    <!-- @header-user-menu -->
                    <ul class="nav user">
                        <li class="nb">
                        </li>
                    </ul>
                </div>

                <!-- @header-logo -->
                <a class="logo" href="{{ path('homepage') }}" title="AG2R LA MONDIALE, le contraire de seul au monde">
                    <img src="{{ asset('bundles/app/images/common/logo.png') }}"
                         alt="AG2R LA MONDIALE, le contraire de seul au monde"/>
                </a>

            </div>
        </header>

        <div class="main container">
            <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full"
               data-uv-primary-color="#cc6d00"
               data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="210190"><img
                        src="{{ asset('bundles/app/images/feedback.png') }}"
                        style="position: fixed; left:0; top:30%;"></a>

            <div class="row">
                {% block _container %}
                    <div class="span9">
                        {% include 'ESBaseBundle:Flashes:messages.html.twig' %}
                        <section role="main" class="content">
                            {% block content %}
                                {% block fos_user_content %}
                                {% endblock %}
                            {% endblock %}
                        </section>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}