.notification-list {

    .bloc > p {

        font-size: 13px;
        margin: 20px 0;

        &:first-child {
            margin-top: 0;
        }
    }

    .notification {
        .clearfix;
        min-height: 22px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        border-bottom: 1px dotted #DDD;
        .gotham-book;
        .secondary2;

        a {
            .gotham-bold;
            .secondary;
        }
        span > a {
            .primary !important;
        }

    }

    .notification-status,
    .notification-text,
    .notification-hour {
        float: left;
    }

    .notification-status {
        width: 5%;
    }
    .notification-text {
        width: 75%;
    }
    .notification-hour {
        width: 20%;
        text-align: right;
    }

}