.user-index {

    .search-block {
        margin-top: 0;
    }

    form {
        input,  {
            width: 95%;
        }
        .select select {
            width: 110% !important;
        }
        .row-fluid {
            margin-top: 10px;
        }
    }

    #search-user.form-horizontal .controls {
        margin: 0;
    }

}
.user-list {

    .wrap-col {
        margin: 0 0 20px;
    }
}