.profile-skills {
    margin-bottom: 10px;

    label {
        font-weight: bold;
    }
    .select-slider-value {
        position: relative;
        top: -18px;
    }
    .skill-line {
        margin-bottom: 10px;

        .pbar-wrap {
            margin-top: 7px;
            position: relative;
            top: 2px;
            display: inline-block;
            width: 202px;
            height: 11px;
            margin-left: 25px;

            .filter-bar {
                background: url(/assets/img/filterbar.png) no-repeat;
                position: absolute;
                height: 13px;
                width: 202px;
                z-index: 10;
            }
            .ui-slider-horizontal {
                width: 200px;
                height: 11px;
            }
            .ui-slider-range {
                background: #04cef7; /* Old browsers */
                background: -moz-linear-gradient(left, #04cef7 0%, #0d1ca3 99%, #0a77d5 100%, #0d37aa 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%, #04cef7), color-stop(99%, #0d1ca3), color-stop(100%, #0a77d5), color-stop(100%, #0d37aa)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left, #04cef7 0%, #0d1ca3 99%, #0a77d5 100%, #0d37aa 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left, #04cef7 0%, #0d1ca3 99%, #0a77d5 100%, #0d37aa 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left, #04cef7 0%, #0d1ca3 99%, #0a77d5 100%, #0d37aa 100%); /* IE10+ */
                background: linear-gradient(to right, #04cef7 0%, #0d1ca3 99%, #0a77d5 100%, #0d37aa 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04cef7', endColorstr='#0d37aa', GradientType=1); /* IE6-9 */
                height: 11px;

            }
            .ui-slider-handle {
                background: url(/assets/img/slider-cursor.png) no-repeat;
                height: 22px;
                border: none;
                width: 9px;
                cursor: pointer;
                z-index: 20;
            }
            .ui-slider-handle.ui-state-default.ui-corner-all:hover, .ui-slider-handle.ui-state-default.ui-corner-all.ui-state-focus, .ui-slider-handle.ui-state-default.ui-corner-all.ui-state-focus {
                text-decoration: none;
                outline: none;
            }
        }
    }
}