.breadcrumb {
    padding: 10px 15px;
    margin: 0;
    background-color: @white;
    border: 0;
    .border-radius(0);

    li {
        .gotham-book;

        > * {
            text-decoration: underline;
        }

        a { color: @secondary; }

        &.active > * {
            .gotham-book;
            color: @primary;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
        .divider {
            font-size: 12px;
            color: @secondary;
            text-decoration: none;
        }
    }

}
