.wrap-col {
    margin: 0 0 0 -2%;
    .clearfix();
}
.col6, .col4, .col3 {
    float: left;
    margin: 10px 0 0 2%;
}
.col6 {
    width: 48%;
}
.col3 {
    width: 23%;
}
.col4 {
    width: 31.3333%;
}