.dropcab-group {
    clear: both;
    margin-top: 30px;

    .dropcab {
        .secondary2;
        font-size: 26px;
        line-height: 35px;
        .bold;
        margin-bottom: 5px;
        border-bottom: 1px solid @secondary2;
    }

}
.alpha-sort {
    display: inline-block;
    .ie7-inline-block();
    background-color: @secondary2;
    padding: 7px 15px;
    .white;
    .verdana;
    .bold;
    font-size: 16px;
}

#filter {
    position: relative;
    z-index: @zindexDropdown;

    .sort-tab {
        .clearfix;
        display: none;
        position: absolute;
        top: 0;
        left: -2px;
        padding: 3px 3px 0px 0;
        .size(56px,476px);

        background-color: @secondary3;
        .verdana;
        .border-radius(4px);

        .letter {
            display: block;
            .size(15px,21px);
            float: left;
            padding: 5px;
            margin: 0 0 3px 3px;

            text-align: center;
            font-size: 20px;
            .bold;
            .uppercase;
            cursor: pointer;

            .border-radius(2px);
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
            background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */

            &:hover {
                text-decoration: none;
            }
            &.disabled {
                .secondary3;
                cursor: default;
            }
        }
    }

    .results {
        //display: none;
    }

}