.experimentation-options {
    margin: 15px 0 25px;

    > hr { margin: 15px 0 !important; }

    > div > div > a {
        display: block;
        padding-top: 20px;
        text-align: center;
        background-color: @white;
        text-decoration: none;

        i { height: 19px; }

        &:hover {
            > span {
                .secondary;
            }
        }
        > span {
            display: block;
            margin-top: 20px;
            padding: 10px 0;
            background-color: @secondary3;
            .white;
            .uppercase;
        }

    }
}
