.modal {

    > form { margin: 0; }
}

#share-modal {

    .search-input {
        width: 86%;
    }
    .search-form {
        padding: 5px 0;
    }
    .share-btn {
        .push-up;
        position: absolute;
        bottom: 10px;
        right: 36px;
        left: 36px;

        > i { margin-top: 4px; }
    }
    .role {
        padding-right: 0;
    }

}