.paginate {
    .clearfix;
    margin: 20px 0;

    .sort {
        float: left;

        .active {
            text-decoration: underline;
        }
        a {
            margin: 0 10px;
        }
    }
    ul {
        .mp-reset;
        list-style: none;
        float: right;

        li {
            display: inline-block;
            margin-right: 5px;

            &, a, span {
                color: @secondary2;
            }

            a, span {
                padding: 5px;
            }
            a:hover {
                text-decoration: none;
                color: @primary;
            }
            &.active {
                a, span {
                    background-color: @primary;
                    color: @white;
                }
            }
            &.prev.disabled, &.next.disabled {
                display: none;
            }
        }
    }
}
