.experimentation {
    .clearfix;
    position: relative;
    margin: 15px 0;

    .table {
        float: left;
        width: 60%;
        margin: 0 !important;

        thead th {
            background-color: @secondary3;
            .white;
            .uppercase;
        }
        td {
            padding: 8px 10px 0;
            line-height: 20px;
            border-top: 0;
            width: 45%;

            &.edit {
                width: 10%;

                a:hover {

                }
            }
        }
    }
    .btn.primary2 {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}
