// rating
.star-rating {
    margin: 0 auto 8px;
    width: 90px;
    .clearfix;

    li {
        float: left;
        display: block;
        margin: 0;
        list-style: none;

        span {
            display: block;
            padding: 0 2px;
            .size(18px,14px);
            text-indent: -9999px;
            cursor: default;
            overflow: hidden;
            background: url("@{img-path}/common/stars.gif") no-repeat;
        }

        &.active span { background-position: 0 -32px; }
    }

    &.ratable {

        span {
            cursor: pointer;
        }

        li:hover span {
            //.opacity(50);
            background-position: 0 -32px;
        }
    }

} // .star-rating

.action-rating {

    > p {
        padding-left: 10px;
        .secondary2;
        .gotham-book;
        font-size: 11px;
        font-style: italic;
    }

    .yours {

        span {
            .primary;
            font-size: 16px;

            i { vertical-align: top; }
        }
    }
    .btn {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
} // .action-rating
