body {

    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -59px;

        > .main {
            padding: 25px 0 59px;
        }
    }
}
