
.cn-vote {
    a:hover {
        text-decoration: none;
    }
    .vote-icon {
        display: inline-block;
        vertical-align: middle;
        width: 13px;
        height: 14px;
    }
    .up {
        .vote-icon {
            .votes-up-off;
        }
    }
    .down {
        margin-left: 10px;
        .vote-icon {
            .votes-down-off;
        }
    }

    &.up-active {
        .up {
            .vote-icon {
                .votes-up-on;
            }
        }
    }

    &.down-active {
        .down {
            .vote-icon {
                .votes-down-on;
            }
        }
    }
}