//
// Pager pagination
// --------------------------------------------------

.pager {
	margin: 0 0 14px;
	list-style: none;
	text-align: center;
	.clearfix();	
	font-size: 11px;	
}
.pager li {
	display: inline;
}
.pager li > a,
.pager li > span {
	display: inline-block;
	padding: 5px 0;
	text-decoration: underline;
	//background-color: #fff;
	//border: 1px solid #ddd;
	//.border-radius(15px);
}
.pager li > a:hover,
.pager li > a:focus {
	//text-decoration: none;
	//background-color: #f5f5f5;
	color: @primary;
}
.pager .next > a,
.pager .next > span {
	float: right;
}
.pager .previous > a,
.pager .previous > span {
	float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
	color: @grayLight;
	//background-color: #fff;
	cursor: default;
}