<div class="user-edit content-wrp">
    {{ form_start(form) }}

    <h3>Informations personnelles</h3>

    <div class="profile-infos bloc">
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
    </div>

    <h3>Description du profil</h3>

    <div class="bloc">
        <div class="control-group full-size">
            <div class="controls">
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
            </div>
        </div>
    </div>

    <h3>Photo de profil</h3>

    <div class="bloc">
        {{ form_widget(form.picture) }}
        {{ form_errors(form.picture) }}
    </div>

    <h3>Centres d'intérêt</h3>

    <div class="bloc">
        <p>Veuillez préciser vos centres d'intérêt :</p>

        <div class="control-group full-size">

            <div class="controls mg-wrap">
                {{ form_widget(form.interests) }}
                {{ form_errors(form.interests) }}
            </div>
        </div>
    </div>

    <h3>Conditions Générales d'Utilisation</h3>

    <div class="bloc">
        <p>Veuillez accepter les conditions générales d'utilisation :</p>
        {{ form_row(form.termsAccepted) }}
    </div>

    {{ form_end(form) }}
</div>
