{% block content %}
    {% set url = url('es_user_sponsoring_code', {code: app.user.sponsorCode}) %}
    <h4 class="h1 uppercase l-spacing text-center form-group-l">Publiez votre profil sur vos réseaux sociaux</h4>
    <input id="share_url" type="text" value="{{ url }}" style="display: none">

    <div data-sharing="{{ url }}"
         data-sharing-message="Venez voir mon profil sur {{ cameleon.project_title }}"
         data-sharing-subject="Mon profil sur {{ cameleon.project_title }}" class="m-social text-center">

        <a class="share-facebook" href="javascript:void(0)" title="Partager sur Facebook"><i
                    class="icons-fb-rounded"></i></a>
        <a class="share-twitter" href="javascript:void(0)" title="Partager sur Twitter"><i
                    class="icons-tt-rounded"></i></a>
        <a class="share-google" href="javascript:void(0)" title="Partager sur Google"><i
                    class="icons-gg-rounded"></i></a>

    </div>
    <h4 class="h1 uppercase l-spacing text-center form-group-l">ou envoyez des invitations à vos amis</h4>

    {% if shareForm is defined %}
        {{ form(shareForm) }}
    {% endif %}
{% endblock %}

<script>
    $(function () {
        Cameleon.sharing.setup({
            services: ['facebook', 'google']
        });
    });
</script>
