@import "compass/utilities/sprites";

@import "../../../../vendor/es/base-bundle/ES/Bundle/BaseBundle/Resources/sass/form/select2";

// basic 24x24px black/blue/brown
$basic-spacing: 10px;
$basic-layout: horizontal;
$basic-sprite-dimensions: 24px;

@import "sprites/basic/*.png";
@include all-basic-sprites;

// basic-s 16x16px black/blue/brown
$basic-s-spacing: 10px;
$basic-s-layout: horizontal;
$basic-s-sprite-dimensions: 24px;

@import "sprites/basic-s/*.png";
@include all-basic-s-sprites;

// custom white/grey/black/blue/brown
$custom-spacing: 10px;
$custom-layout: horizontal;
$custom-sprite-dimensions: 20px;

@import "sprites/custom/*.png";
@include all-custom-sprites;

@import "sprites/votes/*.png";
@include all-votes-sprites;

[class^="basic-"], [class^="custom-"] {
	display: inline-block;
	vertical-align: middle;
}


// Files
@import "compass/utilities/general/clearfix";
@import "compass/css3";

.cn-fileupload {
    @include pie-clearfix;

    .cn-file-preview {
        position: relative;
        margin-top: 15px;
        background: #FFF;

        .cn-file-icon {
            $size: 100px;
            background: #EEE;
            width: $size;
            height: $size;
            float: left;
            margin-right: 10px;
            text-align: center;
            
            .fa {
                font-size: 75px;
                line-height: $size;
            }
        }
    }

    .cn-progress {
        margin-top: 10px;
    }

    .cn-progress-bar {
        width: 0%;
    }

    .cn-fileupload-errors {
        color: red;
    }
}
