
<script type="text/javascript">
    var formHtml_{{ object.id }} = '\
    <form class="form-horizontal" action="{{ admin.generateObjectUrl('change_status', object, {status: 'refuse'}) }}" method="post">\
        <textarea class="form-control" name="message" rows="5" placeholder="Motif"></textarea>\
        <button type="submit">{{ ('idea.actions.' ~ object.status ~ '.refuse')|trans }}</button>\
    </form>';
</script>

{% for status in admin.getAvailableNextSteps(object) %}
    <a class="btn btn-sm btn-default"
            {% if status.name == 'refuse' %}
                onclick="Cameleon.modal.launchModal({content: formHtml_{{ object.id }}});"
                href="javascript:void(0)"
            {% else %}
                href="{{ admin.generateObjectUrl('change_status', object, {status: status.name}) }}"
            {% endif %}
            >
        {{ ('idea.actions.' ~ object.status ~ '.' ~ status.name)|trans }}
    </a>
{% endfor %}
