{% for status in admin.getAvailableStatutes(object) %}
    <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('change_group_status', object, {status: status}) }}">
        {{ ('group.actions.' ~ status)|trans }}
    </a>
{% endfor %}