// AG2R baseline
html { font-size: 62.5%; }

h1, .h1 {
    .gotham-medium;
    font-size: 2.8rem; /* 28px */
    line-height: 3.4rem; /* 34px */
    color: @secondary;
    //text-transform: uppercase;
    margin-bottom: 30px;
}
h2, .h2 {
    .gotham-medium;
    font-size: 2.2rem; /* 22px */
    line-height: 2.7rem; /* 27px */
    color: @primary;
    //text-transform: uppercase;
    margin-bottom: 20px;
}
h3, .h3 {
    .gotham-medium;
    font-size: 1.6rem; /* 16px */
    line-height: 2rem; /* 20px */
    //color: @primary;
    color: @secondary;
    //text-transform: uppercase;
    margin-bottom: 20px;
    .regular;
}
h3#authLogin {
  margin-top: 30px;
}
.date {
    .gotham-book;
    font-size: 1.2rem; /* 12px */
    color: @secondary3;
}
.introduction {
    .gotham-book;
    font-size: 1.2rem; /* 12px */
    line-height: 2rem; /* 20px */
    color: @secondary3;
}
.courant {
    .gotham-book;
    font-size: 1.4rem; /* 14px */
    line-height: 2.2rem; /* 22px */
    color: @secondary;
}
.mentions {
    .gotham-book;
    font-size: 1rem; /* 10px */
    line-height: 1.7rem; /* 17px */
    color: @secondary3;
}
a.a {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: @primary;
    text-decoration: underline;
}

.base-font {
    font-size: 16px;
    line-height: 18px;
    .regular;
}

// Custom
.content {

    > div > h1, > h1 {
        margin: 5px 0 0;
        .base-font;
        .uppercase;
    }
    > div, > form, .tab-content {

        > h3 {
            .secondary;
            .base-font;
        }
    }
    .milestone-all > h1 { text-transform: none; }
}

.pager {
    .gotham-medium;
}

