// font-face Gotham
@font-face {
    font-family: 'Gotham Bold';
    src: url('@{fonts-path}/gotham/Gotham-Bold.eot');
    src: url('@{fonts-path}/gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-path}/gotham/Gotham-Bold.woff') format('woff'),
         url('@{fonts-path}/gotham/Gotham-Bold.ttf') format('truetype'),
         url('@{fonts-path}/gotham/Gotham-Bold.svg#GothamBold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Book';
    src: url('@{fonts-path}/gotham/Gotham-Book.eot');
    src: url('@{fonts-path}/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-path}/gotham/Gotham-Book.woff') format('woff'),
         url('@{fonts-path}/gotham/Gotham-Book.ttf') format('truetype'),
         url('@{fonts-path}/gotham/Gotham-Book.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Medium';
    src: url('@{fonts-path}/gotham/Gotham-Medium.eot');
    src: url('@{fonts-path}/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('@{fonts-path}/gotham/Gotham-Medium.woff') format('woff'),
         url('@{fonts-path}/gotham/Gotham-Medium.ttf') format('truetype'),
         url('@{fonts-path}/gotham/Gotham-Medium.svg#GothamMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
