.header-nav {
    height: 46px;

    .navbar {
        .clearfix();
        margin-bottom: 0;
        background-color: @secondary2;

        > .container {
            .size(100%,940px);
        }

        .nav {
            height: 100%;
            .white;
            list-style-type: none;

            > li {
                display: block;
                height: 100%;
                margin-right: 0;
                line-height: 18px;
                position: relative;
                .transition(none);

                &:before {
                    content: '';
                    .size(24px,2px);
                    position: absolute;
                    left: -1px;
                    top: 13px;
                    background-color: @white;
                }
                &:first-child:before {
                    content: none;
                }

                > a {
                    padding: 16px 15px;
                    text-align: center;
                    text-shadow: none;
                    .white;
                    .uppercase;
                    .gotham-book;
                    font-size: 14px;

                    &:hover {
                        background-color: @primary;
                        .white;
                        text-shadow: 1px -1px 0 darken(@white, 35%);
                        .transition(all .2s ease);
                    }
                }
                &.active {

                    > a {
                        background-color: @primary;
                        .box-shadow(none);
                        cursor: default;
                    }
                }

            } // > li

        } // ul.nav

        .idea {
            float: right;
            margin-right: 60px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 14px;
        }

    } // .navbar
}
