.nav-tabs {
    border-bottom: 3px solid #00b9e4;

    > li > a {
        .gotham-bold;
    }
}

.nav-tabs.tabs-post {
    border-bottom: 1px solid #b0b1a6;

    > li > a {
        background: none;
        //font-size: 12px;
        color: @secondary3;
        &:hover,
        &:focus {
            color: @white;
            background-color: @secondary3;
            //border-color: @grayLighter @grayLighter #ddd;
        }
    }
    > .active > a {

        &, &:hover, &:focus {
            background-color: @secondary3;
            color: @white;
        }
    }
}

.tabs-post {

    li {

        i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            margin-top: -3px;
        }
        .i-post {
            .basic-s-grey_02;
        }
        &.active, &:hover, &:focus {

            .i-post {
                .basic-s-white_02;
            }
        }
        .i-idea {
            .basic-s-grey_15;
        }
        &.active, &:hover, &:focus {

            .i-idea {
                .basic-s-white_15;
            }
        }
        .i-document {
            .basic-s-grey_38;
        }
        &.active, &:hover, &:focus {

            .i-document {
                .basic-s-white_38;
            }
        }
    }
}