{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="notifications notification-list content-wrp">
        <h3>Notifications</h3>

        <div class="bloc">
            <p class="push-down">Dernières notifications</p>

            <div id="loadmore-area">
                {% include 'ESNotificationBundle:Notification:notifications_content.html.twig' %}
            </div>
            <script>
                $(function () {
                    $('#loadmore-area').cameleonLoadmore({
                        loadingText: "Chargement ..."
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}