{% use 'ESSocialBundle:Story:pictures.html.twig' %}

{% block story_row -%}
    <div class="cameleon_feed_avatar">
        <img src="{{ story.firstActor.object|image('picture', 'small') }}"
             width="50">
    </div>

    <div class="feed-floating media-body">
        <div class="directions">
            <div class="cameleon_feed_title left">
                {{ story_sentence(story, {context: options.context|default(null)}) }}
            </div>
            <div class="right cn-feed-actions" id="feed-actions-{{ story.id }}">
                {% include 'ESSocialBundle:Feed:actions.html.twig' with {feed: story} %}

                <div class="cameleon_feed_time">{{ time_diff(story.startTime) }}</div>
            </div>
        </div>

        {% if not story.aggregation %}
            <div class="cameleon_feed_text">
                <p class="cn-feed-message">{{ story.message|escape|nl2br|es_mentionize(story)|urlize|raw }}</p>

                {% if story.object %}
                    {% set object = story.object.object %}
                    {{ block('share_content') }}
                {% endif %}

                {% if story.countLinks > 0 %}
                    {% for link in story.links %}
                        {% set object = link %}
                        {{ block('share_content') }}
                    {% endfor %}
                {% endif %}

                {% if story.countPictures > 0 %}
                    {{ block('pictures') }}
                {% endif %}
            </div>
            {% if not options.attachment|default(false) %}
                {% include 'AppBundle:Feed:socialActions.html.twig' with {subject: story.verb in ['share', 'like', 'comment'] ? story.object : story.subjectReference} %}
            {% endif %}
        {% endif %}
    </div>
{%- endblock %}
