{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
    <div class="message-all content-wrp">
        <div class="heading">
            <div class="title">Mes messages</div>
            <a href="{{ path('fos_message_thread_new' ) }}" class="btn square">+ Nouveau message</a>
        </div>
        <p>{{ '%count% message|%count% messages'|transchoice(threads|length) }}</p>

        <div class="message-list">
            {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}
        </div>
        <script>
            $('.message-list .message').click(function () {
                document.location.href = $(this).find('h3 a').attr('href');
            });
            $('.message-list .message form a').click(function (e) {
                e.stopPropagation();
            });
        </script>
    </div>
{% endblock %}
