{% extends 'FOSMessageBundle::layout.html.twig' %}
{% block fos_message_content %}
    <div class="message-new content-wrp">
        <h3>Nouveau message</h3>
        {{ bootstrap_set_style('horizontal') }}
        <form method="POST" action="{{ path('fos_message_thread_new') }}" class="form-horizontal">
            {{ form_row(form.recipient) }}
            {% if form.subject is defined %}
                {{ form_row(form.subject) }}
            {% endif %}
            {{ form_row(form.body, {attr: {rows: 10}}) }}
            {{ form_rest(form) }}

            <div class="pull-right">
                <button type="submit" class="btn primary2">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock %}
