{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
	<div class="content-bloc">
		<h1>{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</h1>
	</div>
{% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
