{% if threads %}
    <div class="message-list">
        {% for thread in threads %}
            {% set user = thread.otherParticipants(app.user)[0] %}
            {% set message_url = url('fos_message_thread_view', {'threadId': thread.id}) ~ '#message_' ~ thread.lastMessage.id %}

            <div class="bloc message media">
                <img src="{{ user|image('picture', 'small') }}" class="media-object">

                <div class="media-body">
                    <div class="media-heading">
                        <h3>
                            <a href="{{ message_url }}"
                               title="Lire le message de {{ user.fullname }}">
                                {{ user.fullname }}
                            </a>
                        </h3>
                        <em class="time-ago">{{ thread.lastMessage.createdAt|localizeddate }}</em>

                        {% if fos_message_can_delete_thread(thread) %}
                            {% if fos_message_deleted_by_participant(thread) %}
                                {% set formAction %}{{ url('fos_message_thread_undelete', {'threadId': thread.id}) }}{% endset %}
                                {% set submitValue %}{% trans from 'FOSMessageBundle' %}undelete{% endtrans %}{% endset %}
                            {% else %}
                                {% set formAction %}{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}{% endset %}
                                {% set submitValue %}{% trans from 'FOSMessageBundle' %}delete{% endtrans %}{% endset %}
                            {% endif %}
                            <form action="{{ formAction }}" method="post">
                                <a href="javascript:void(0)" onclick="this.parentNode.submit();return false;" class="basic-brown_11"></a>
                            </form>
                        {% endif %}
                    </div>
                    <p>{{ thread.lastMessage.body|truncate(150) }}</p>
                </div>
            </div>

        {% endfor %}

    </div>
{% else %}
    <div class="content-bloc text-center">
        {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
    </div>
{% endif %}