{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

    <div class="message-show content-wrp">
        {% set user = thread.otherParticipants(app.user)[0] %}
        <h3>Conversation avec <a href="{{ path('user_show', {'id': user.id}) }}">{{ user.fullname }}</a></h3>

        <!-- messages -->
        <hr>
        <div class="message-list">
            {% for message in thread.messages %}
                <div class="bloc message media">
                    <a name="message_{{ message.id }}"></a>
                    <img src="{{ message.sender|image('picture', 'small') }}" class="media-object">

                    <div class="media-body">
                        <div class="media-heading">
                            <h3>
                                <a href="{{ path('user_show', {'id': message.sender.id}) }}"
                                   title="Profil de {{ message.sender.fullname }}">
                                    {{ message.sender.fullname }}
                                </a>
                            </h3>
                            <em class="time-ago">{{ message.createdAt|localizeddate }}</em>
                        </div>
                        <p class="gray">{{ message.body|escape|nl2br|urlize|raw }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>
        {{ bootstrap_set_style('horizontal') }}
        <!-- form -->
        <form method="post" action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}"
              class="form-horizontal">
            {{ form_row(form.body, {attr: {rows: 3 }}) }}
            {{ form_rest(form) }}
            <div class="pull-right">
                <label class="btn primary2">
                    <input type="submit" class="btn primary2" value="Envoyer">
                </label>
            </div>
        </form>

    </div>

{% endblock %}