<h2>EDITO</h2>

<div class="media">
    <img class="media-object pull-left" src="{{ asset('bundles/app/images/edito.jpg') }}" width="100">

    <div class="media-body">
        <p class="desc">Dans le cadre de ce séminaire, je souhaiterais vous faire réfléchir sur ce qui nous réunit : le
            management (comment stimuler, contrôler, donner du sens…) en faisant preuve d’innovation et de partage !
            Brigitte VILLETTE.</p>
    </div>
    <div class="text-right">
        <a href="{{ path('edito') }}">&gt; lire la suite</a>
    </div>

</div>