{% if app.user and not feed.aggregation %}
    {% set timeline = feed.ownedTimeline(app.user) %}

    {% if feed.verb in ['share', 'post'] and feed.actor.object == app.user %}
        <a href="javascript:void(0)" title="Supprimer la publication" class="cameleon_feed_close cn-feed-delete" data-id="{{ feed.id }}">
            <i class="basic-s-black_42"></i>
        </a>
        <a href="javascript:void(0)" title="Editer" class="cameleon_feed_edit cn-feed-edit" data-id="{{ feed.id }}">
            <i class="basic-s-black_02"></i>
        </a>
    {% elseif timeline %}
        {% if timeline.subject == app.user.subjectReference %}
            <a href="javascript:void(0)" class="cameleon_feed_close cn-timeline-delete" data-id="{{ feed.id }}" title="Masquer de la timeline">
                <i class="basic-s-black_42"></i>
            </a>
        {% endif %}
    {% endif %}
{% endif %}
