<div class="cameleon_feed cn-feed">
    <div class="cameleon_feed_content media">
        <div class="cn-story">
            {{ story_row(feed, {context: context|default(null)}) }}
        </div>
    </div>
</div>