{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <section role="main" class="content">
        <div class="tab-content push-up">
            <div class="cn-feeds" id="feeds">
                {% include 'ESSocialBundle:Feed:oneFeed.html.twig' with {feed: object} %}
            </div>
        </div>
    </section>
    {% include 'AppBundle:Common:socialJs.html.twig' %}
{% endblock %}