{% extends 'ESBaseBundle:Mail:base.html.twig' %}

{% block content_html %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% block html_signature %}
    <hr>
    <p>
        <strong>AG2R LA MONDIALE</strong>
        <br>OSER. PARTAGER. INNOVER.
        <br><a href="{{ cameleon.project_url }}">{{ cameleon.project_url }}</a>
    </p>
{% endblock %}