{% extends 'AppBundle:Mail:layout.html.twig' %}

{% block subject %}
    Réinitialisation de votre mot de passe
{% endblock %}

{% block content %}
    <p>
        Bonjour {{ user.firstname }},<br>
        <br>
        Pour réinitialiser votre mot de passe, merci de vous rendre sur {{ confirmationUrl }}.
    </p>
{% endblock %}