{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="idea-show content-wrp">
        <div class="one-idea">
            <div class="heading links">
                <div class="title push-down">{{ idea.name|truncate(28) }}</div>
            </div>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}