{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="idea-new content-wrp">
        <h3>Modifier l'idée</h3>
        {% embed 'AppBundle:Idea:formContent.html.twig' %}
            {% block buttons %}
                {% if form.edit is defined %}
                    {{ form_widget(form.edit, {attr:{class: 'btn primary2' }}) }}
                {% else %}
                    {{ parent() }}
                {% endif %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}