{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.name) }}
{{ form_row(form.category) }}
{{ form_row(form.description) }}
{% if form.documents is defined %}
    {{ form_row(form.documents) }}
{% endif %}

{% if idea is defined and is_granted('DELETE', idea) %}
    <div class="pull-left">
        <a href="{{ path('idea_delete', {'idea': idea.id}) }}"
           data-confirm-action="Êtes-vous sûr(e) de vouloir supprimer cette idée ?"
           class="btn btn-danger pull-left">Supprimer</a>
    </div>
{% endif %}
<div class="pull-right">
    {% block buttons %}
        {{ form_widget(form.save_draft, {attr:{class: 'btn primary2' }}) }}
        {{ form_widget(form.submit, {attr:{class: 'btn primary2' }}) }}
    {% endblock %}
</div>

{{ form_end(form) }}

<script type="text/javascript">
    $(function () {
        $('form[name={{ form.vars.id }}]').each(function () {
            var $f = $(this);
            $(document).on('cameleon-collection-item-added', function (){
                $f.find('.cn-collection-add').hide();
                $f.find('.cn-fileupload :input[type=file]').on('fileuploadadd', function () {
                    $f.find('.cn-collection-add').show();
                });
            });

        })

    });
</script>