{% if is_granted('EDIT', idea) %}
    <div class="title">{{ idea.name|truncate(28) }}</div>
    <div class="pull-right">
        <a class="btn primary2" href="{{ path('idea_edit', {idea: idea.id}) }}" title="Modifier l'idée">Modifier
            l'idée</a>
        <a class="btn primary2" href="{{ path('idea_delete', {idea: idea.id}) }}" title="Supprimer"
           data-confirm-action="Êtes-vous sûr(e) de vouloir supprimer cette idée ?">Supprimer</a>

        <span class="status btn">
            {{ ('idea.statutes.' ~ idea.status)|trans }}
        </span>
    </div>
{% else %}
    <div class="title">{{ idea.name }}</div>
    <div class="pull-right">
        <a class="status btn" href="{{ path('idea_index', {filters: {status: idea.status }}) }}">
            {{ ('idea.statutes.' ~ idea.status)|trans }}
        </a>
    </div>
{% endif %}
