<div class="idea-all">
    <form id="filter-form">
        <input type="hidden" id="order-form" name="order" value="{{ app.request.get('order') }}">

        <div class="content-wrp push-down">
            <div>
                <div class="nb-idea primary">{{ '%count% idée référencée|%count% idées référencées'|transchoice(pager.count) }}</div>
            </div>

            <!-- @filter -->
            <div class="filter push-up">

                <div class="row-fluid">
                    <div class="span2">Filtrer par :</div>
                    <div class="span5">
                        {% if userGroups is defined %}
                            <label for="filter-group" class="select gray-input">
                                <div class="bg">
                                    <span class="caret"></span>
                                </div>
                                <select name="filters[group]" id="filter-group" title="Communauté">
                                    <option value=""{% if app.request.get('filters').group|default(null) is empty %} selected{% endif %}>
                                        Toutes les idées
                                    </option>
                                    <option value="public"{% if 'public' == app.request.get('filters').group|default(null) %} selected{% endif %}>
                                        Idées des temps forts
                                    </option>
                                    <option value="private"{% if 'private' == app.request.get('filters').group|default(null) %} selected{% endif %}>
                                        Idées de mes commnunautés
                                    </option>
                                    {% for g in userGroups %}
                                        <option value="{{ g.id }}"{% if g.id == app.request.get('filters').group|default(null) %} selected{% endif %}>{{ g.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        {% endif %}

                        <label for="filter-status" class="select gray-input">
                            <div class="bg">
                                <span class="caret"></span>
                            </div>
                            <select name="filters[status]" id="filter-status">
                                <option value="">Statut de l’idée</option>
                                {% for s in statutes %}
                                    <option value="{{ s }}"{% if s == app.request.get('filters').status|default(null) %} selected{% endif %}>{{ ('idea.statutes.' ~ s)|trans }}</option>
                                {% endfor %}
                            </select>
                        </label>

                    </div>
                    <div class="span5">
                        <label for="filter-category" class="select gray-input">
                            <div class="bg">
                                <span class="caret"></span>
                            </div>
                            <select name="filters[category]" id="filter-category" title="Thématique">
                                <option value="">Toutes les thématiques</option>
                                {% for c in ideaCategories %}
                                    <option value="{{ c.id }}"{% if c.id == app.request.get('filters').category|default(null) %} selected{% endif %}>{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </label>

                        <label class="select">
                            <input id="mine_filter" type="checkbox" value="1"
                                   name="filters[mine]" {% if app.request.get('filters').mine|default(false) %} checked{% endif %}>
                            Uniquement mes
                            idées
                        </label>
                    </div>
                </div>

            </div>
        </div>

        <div class="paginate">
            <div class="sort">
                Trier par :
                <a href="javascript:$('#order-form').val('recent').closest('form').submit()"
                   {% if 'recent' == app.request.get('order') %}class="active"{% endif %}>
                    Les plus récentes</a>
                <a href="javascript:$('#order-form').val('popular').closest('form').submit()"
                   {% if 'popular' == app.request.get('order') %}class="active"{% endif %}>
                    Les plus populaires</a>
            </div>
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager) }}
            {% endif %}
        </div>
    </form>
    <script>
        $(document).ready(function () {
            if (0 != $('#filter-category').val().length) {
                $("#filter-group").addClass('disabled');
                $("#filter-group").prop('disabled', true);
            }
            if ('public' != $('#filter-group').val() && 0 != $('#filter-group').val().length) {
                $("#filter-category").addClass('disabled');
                $("#filter-category").prop('disabled', true);
            }
        });
        $('#filter-form').each(function () {
            var $form = $(this);
            $form.find(':input').change(function () {
                $form.submit();
            });
        });
    </script>

    {% for idea in ideas %}
        {% if not (loop.first) %}
            <hr/>
        {% endif %}
        {% include 'AppBundle:Idea:oneIdea.html.twig' %}
    {% endfor %}
    {% if pager.haveToPaginate %}
        <div class="push-up">
            <div class="paginate">
                {{ pagerfanta(pager) }}
            </div>
        </div>
    {% endif %}
</div>

{% include 'AppBundle:Common:socialJs.html.twig' %}