{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="idea-new content-wrp">
        <h3>Rendre l'idée publique : {{ idea.name }}</h3>

        {{ form_start(form) }}
        {{ form_row(form.category) }}

        <div class="pull-right">
            {{ form_widget(form.submit, {attr:{class: 'btn primary2' }}) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

