{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="idea-new content-wrp">
        <h3>Proposer une idée</h3>

        <div class="bloc">
            <p>Partagez votre idée en précisant son titre, sa thématique et sa description détaillée. La communauté
                pourra
                ensuite voter et commenter votre idée !</p>

        </div>
        {% include 'AppBundle:Idea:formContent.html.twig' %}
    </div>
{% endblock %}
