<div class="author bloc">
    <p>Proposée par : </p>

    <div class="one-user-on-a-list">
        <div class="media">
            <!-- text -->
            <div class="media-body">
                <!-- name -->
                <div class="name">
                    <a href="{{ path('user_show', {id: idea.owner.id}) }}">
                        <span>{{ idea.owner.displayName }}</span>
                    </a>
                </div>
                {% if app.user != idea.owner %}
                    <a href="{{ path('es_user_friend_request', {user: idea.owner.id}) }}" class="pull-right"><i
                                class="custom-blue_42"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>