<div class="one-idea">

    <div class="heading">
        <div class="title">
            <a href="{{ idea.group is null ? path('idea_show', {idea: idea.id}) : path('group_idea_show', {idea: idea.id, group: idea.group.id}) }}">{{ idea.name }}</a>
        </div>
    </div>
    {% block heading %}
        <div class="heading">
            <div class="directions">
                {% if idea.category %}
                    <div class="tags left">
                        <i class="custom-blue_28"></i>

                        <div class="wrap-tags">
                            <a href="{{ path(ideasIndexRoute|default('idea_index'), ideaRouteParams|default({})|merge({filters: {category: idea.category.id }})) }}"
                               title="">{{ idea.category.name }}</a>
                        </div>
                    </div>
                {% endif %}
                {% block heading_info %}
                    <div class="date left">{{ idea.createdAt|localizeddate() }}</div>
                {% endblock %}

                {% block status %}
                    <div class="right">
                        {% if idea.status %}
                            <span class="status btn">
                                {{ ('idea.statutes.' ~ idea.status)|trans }}
                            </span>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    <div class="media">
        <div class="first-col">
            <a class="bloc media-object"
               href="{{ idea.group is null ? path('idea_show', {idea: idea.id}) : path('group_idea_show', {idea: idea.id, group: idea.group.id}) }}">
                <img src="{{ idea.owner|image('picture', 'small') }}" width="50"/>
            </a>
            {% block author %}
                {% include 'AppBundle:Idea:oneAuthor.html.twig' %}
            {% endblock %}
        </div>
        <div class="media-body">
            <div class="bloc {% block description_class 'description' %}">
                <p>{{ idea.description|truncate(480) }}</p>
                {% if idea.description|length > 480 %}
                    <div class="text-right"><a class="read-more"
                                               href="{{ idea.group is null ? path('idea_show', {idea: idea.id}) : path('group_idea_show', {idea: idea.id, group: idea.group.id}) }}"
                                               title="Voir la suite">Voir la
                            suite</a></div>
                {% endif %}
            </div>
            {% block actions %}
                <div class="actions directions">
                    <div class="left">
                        {% block action_rating %}
                            {#TODO#}
                            {#{% include 'partial/idea/action_rating.html.twig' %}#}
                        {% endblock %}
                    </div>
                    <div class="right">
                        {% block edit_action %}
                            {#TODO#}
                            {#{% if is_granted('OPERATOR', idea) and idea.status in ['waiting'] %}#}
                            {#<a href="#{{ idea.idea_id }}" data-status="{{ idea.status }}"#}
                            {#class="btn primary status-btn">#}
                            {#Statuer#}
                            {#</a>#}
                            {#{% endif %}#}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
    {% block social %}
        {% include 'AppBundle:Idea:socialActions.html.twig' with {subject: idea.subjectReference} %}
    {% endblock %}

</div>