{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    {#{% include 'common/share_modal.html.twig' %}#}
    <div class="idea-show content-wrp">
        <!-- @pager -->
        <ul class="pager">
            <li class="previous">
                {% if previousIdea is defined and previousIdea != null %}
                    <a href="{{ previousIdea.group is null ? path('idea_show', {idea: previousIdea.id}) : path('group_idea_show', {idea: previousIdea.id, group: previousIdea.group.id}) }}"
                       title="{{ previousIdea.name }}"
                       class="prev">Précédent</a>
                {% endif %}
            </li>
            <li class="next">
                {% if nextIdea is defined and nextIdea != null %}
                    <a href="{{ nextIdea.group is null ? path('idea_show', {idea: nextIdea.id}) : path('group_idea_show', {idea: nextIdea.id, group: nextIdea.group.id}) }}"
                       title="{{ nextIdea.name }}" class="next">Suivant</a>
                {% endif %}
            </li>
        </ul>

        <!-- @one-idea-on-a-list -->
        <div class="one-idea">
            <div class="heading links">
                {% include 'AppBundle:Idea:heading.html.twig' %}
            </div>
            {% block reassign_idea %}
                {% if is_granted('OPERATOR', idea) %}
                    <div class="tags left">
                        <i class="basic-s-blue_05" style="margin-right:12px;"></i>
                        <a href="{{ path('idea_assign', {'idea': idea.id}) }}">Réaffecter l'idée</a>
                    </div>
                {% endif %}
            {% endblock %}
            {% block heading %}
                <div class="heading">
                    {% include 'AppBundle:Idea:subHeading.html.twig' %}
                </div>
            {% endblock %}

            <div class="media">
                <div class="first-col">
                    <a class="bloc media-object">
                        <img src="{{ idea.owner|image('picture', 'small') }}" width="50">
                    </a>

                    {% block author %}
                        {% include 'AppBundle:Idea:oneAuthor.html.twig' %}
                    {% endblock %}
                </div>
                <div class="media-body">
                    <div class="bloc {% block description_class %}description full-description{% endblock %}">

                        <div class="read-more-wr" maxheight="115">
                            {{ idea.description|nl2br }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="media social-actions">
                    <div class="first-col">
                        {% block first_col %}
                            <a href="{{ path('idea_documents', {idea: idea.id}) }}" title="Documents"
                               class="btn square secondary3 block composed">
                                <i class="custom-white_55"></i>
                                <span>{{ '%count% Document|%count% Documents'|transchoice(idea.countDocuments) }}</span>
                            </a>
                        {% endblock %}
                        <a class="share" href="{{ path('idea_share', {'idea': idea.id}) }}"><i
                                    class="custom-brown_43"></i> Partager</a>
                    </div>
                    <div class="media-body">
                        {% block media_body %}
                            <div class="actions directions">
                                <div class="right">
                                    {% if idea.group and is_granted('OPERATOR', idea.group) %}
                                        <a href="{{ path('idea_make_public', {'idea': idea.id}) }}"
                                                class="btn-height">
                                            <i class="basic-s-blue_01"></i>
                                            Rendre cette idée publique
                                        </a>
                                    {% endif %}


                                    {% block edit_action %}
                                        {% if is_granted('OPERATOR', idea) %}
                                            <a href="{{ path('idea_statute', {idea: idea.id}) }}"
                                               data-status="{{ idea.status }}"
                                               class="btn primary status-btn">
                                                Statuer
                                            </a>
                                        {% endif %}
                                    {% endblock %}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>

            {% include 'AppBundle:Idea:socialActions.html.twig' with {subject: idea.subjectReference} %}
            {% include 'AppBundle:Common:socialJs.html.twig' %}

            {% block elements %}{% endblock %}

            {% block experimentations %}{% endblock %}
            <hr>
        </div>
    </div>
{% endblock %}