<section class="widget thematic">
    <div class="widget-header">Thématique</div>
    <div class="wrap">
        <i class="sprite-members"></i>
        <ul class="bg children-bg bullets">
            {% for category in categories %}
                <li>
                    <a href="{{ path('idea_index', {filters: {category: category.id }}) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>