<div class="directions">
    {% if idea.category %}
        <div class="tags left">
            <i class="custom-blue_28"></i>

            <div class="wrap-tags">
                {% if idea.group is not null %}
                    <a href="{{ path('group_ideas', {'id': idea.group.id, filters: {category: idea.category.id }}) }}">{{ idea.category.name }}</a>
                {% else %}
                    <a href="{{ path('idea_index', {filters: {category: idea.category.id }}) }}">{{ idea.category.name }}</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% block heading_info %}
        <div class="date left">{{ idea.createdAt|localizeddate('medium', 'short') }}</div>
    {% endblock %}
</div>