{% extends 'AppBundle:Group:show.html.twig' %}

{% block tab_content %}
    {% include 'AppBundle:Idea:indexContent.html.twig' with {ideasIndexRoute: 'group_ideas', ideaRouteParams: {id: group.id}} %}
{% endblock %}