{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="group-all content-wrp">

        {#{% import 'common/paginate.html.twig' as pager %}#}

        <div class="heading">
            <div class="title"> Communautés d'intêret</div>
            <a class="btn primary2 pull-right" href="{{ path('group_new') }}">Créer une communauté</a>
        </div>

        <div class="bloc">
            {% if myGroups|length > 0 %}
                <h3>Les communautés que j'ai créées</h3>

                <div class="wrap-col group-list">
                    {% for group in myGroups %}
                        {% include 'AppBundle:Group:oneGroup.html.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if userGroups|length > 0 %}
            <div class="bloc">
                <h3>Mes communautés</h3>

                <div class="wrap-col group-list">
                    {% for group in userGroups %}
                        {% include 'AppBundle:Group:oneGroup.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if groups|length > 0 %}
            <div class="bloc">
                <h3>Rejoindre une communauté</h3>

                <div class="wrap-col group-list">
                    {% for group in groups %}
                        {% include 'AppBundle:Group:oneGroup.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <!-- @paginate -->
        <div class="paginate">
            {#{{ pager.paginate(pages_count) }}#}
        </div>
    </div>
    <script>
        $('.group .close').click(function (e) {
            e.preventDefault();

            var group = $('.info-wrapper');

            $(this).closest('.group').siblings().find(group).slideUp();
            $(this).parent().next(group).slideToggle('fast');
        });
    </script>

    {# IE7 z-index bug => http://css-tricks.com/snippets/jquery/fixing-ie-z-index/ #}
    <!--[if lte IE 7]>
    <script>
        $(function () {
            var zIndexNumber = 900;

            $(".group").each(function () {
                $(this).css('zIndex', zIndexNumber);
                zIndexNumber -= 5;
            });
        });
    </script>
    <![endif]-->
{% endblock %}