{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h3>{% block _group_page_title %}Gestion des thématiques du groupe {{ group.name }}{% endblock %}</h3>

    {{ form_start(form) }}
    <div class="bloc">
        {{ form_row(form.categories) }}
    </div>
    {{ form_end(form) }}
{% endblock %}