{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h3>{% block _group_page_title %}Nouvelle communauté{% endblock %}</h3>

    {{ form_start(form) }}
    <div class="bloc">
        {{ form_row(form.name) }}
        {{ form_row(form.description, {attr:{rows:10}}) }}
        {{ form_row(form.privacy) }}
    </div>
    {{ form_end(form) }}
{% endblock %}