<div class="col4 group" id="group_{{ group.id }}">
    <div class="name">
        <a href="{{ path('group_show', {id: group.id}) }}">{{ group.name }}</a>

        <div class="close"><b class="caret"></b></div>
    </div>
    <div class="info-wrapper">
        <div class="description">{{ group.description|truncate(100) }}</div>
        <div class="info">
            {{ '{0} Aucun membre|{1} 1 membre|[2,Inf] %count% membres'|transchoice(group.countUsers) }}
        </div>
    </div>
</div>