{% extends 'AppBundle:User:oneUser.html.twig' %}

{% block actions %}
    {% if not group.hasAdministrator(user) and is_granted('OPERATOR', group) %}
        <a href="{{ path('es_user_group_make_admin', {group: group.id, user: user.id}) }}" class="make-admin"><i class="basic-s-black_65"></i>Nommer
            administrateur</a>
    {% endif %}
{% endblock %}
