{% extends 'AppBundle:User:oneUser.html.twig' %}

{% block actions %}
    <a href="{{ path('es_user_group_accept', {id: groupRequest.id}) }}" class="btn">Accepter</a>
    <a href="{{ path('es_user_group_decline', {id: groupRequest.id}) }}" class="btn">Refuser</a>
{% endblock %}