{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="group-show">

        <div class="content-wrp">

            <div class="heading links">
                <div class="title">{{ group.name }}</div>
                {% if groupRequest is null %}
                    {% if groupInvite is not null %}
                        <a class="btn primary2"
                           href="{{ path('es_user_group_invite_accept', {id: groupInvite.id}) }}">Accepter
                            l'invitation</a>
                        {% if not groupInvite.declined %}
                            <a class="btn primary2"
                               href="{{ path('es_user_group_invite_decline', {id: groupInvite.id}) }}">Refuser</a>
                        {% endif %}
                        (invité par <a
                            href="{{ path('user_show', {id: groupInvite.invitor.id}) }}">{{ groupInvite.invitor.displayName }}</a> )
                    {% else %}
                        <a class="btn primary2" href="{{ path('es_user_group_join', {id: group.id}) }}">Rejoindre le
                            groupe</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="heading">
                <span>Groupe {{ ('group.privacy.' ~ group.privacy)|trans({}, 'FOSUserBundle') }}</span>
            </div>

        </div>

        {% if hasAccess %}

            <div class="content-wrp">
                <p>{{ group.description|nl2br }}</p>
                <hr/>
                <div class="admin-links">

                    {% if is_granted('EDIT', group) %}
                    <div class="row1">
                        <a class="edit-group" href="{{ path('group_edit', {id: group.id}) }}"><i
                                    class="basic-s-blue_02"></i>Modifier</a>
                    </div>
                    {% endif %}
                    <div class="row row2">
                    {% if is_granted('OPERATOR', group) %}
                        <a class="manage-group" href="{{ path('group_categories_manage', {id: group.id}) }}"><i
                                    class="basic-s-blue_28"></i>Gérer les thématiques</a>
                    {% endif %}

                    {% if groupRequest is null %}

                    {% elseif groupRequest.status == 'confirmed' %}
                        <a class="leave-group pull-right" href="{{ path('es_user_group_leave', {id: group.id}) }}"
                           data-confirm-action="Êtes-vous sûr(e) de vouloir quitter le groupe ?"><i
                                    class="basic-s-brown_63"></i>Quitter le groupe</a>
                    {% elseif groupRequest.status == 'pending' %}
                        <span>
                            <i class="basic-s-blue_02"></i>
                            <a href="{{ path('es_user_group_cancel', {id: groupRequest.id}) }}">Annuler la demande</a>
                        </span>
                    {% endif %}
                    </div>
                </div>
            </div>

            <div class="tabs push-up">
                <ul class="nav nav-tabs tabs-post">
                    <li class="active"><a href="#form-post" data-toggle="tab">
                            <i class="i-post"></i>
                            Poster une actualité</a>
                    </li>
                    <li><a href="#form-idea" data-toggle="tab">
                            <i class="i-idea"></i>
                            Soumettre une idée
                        </a></li>
                    <li><a href="#form-document" id="share-document" data-toggle="tab">
                            <i class="i-document"></i>
                            Partager un document
                        </a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="form-post">
                    {% include 'ESSocialBundle:Feed:form.html.twig' with {form: feedForm} %}
                </div>
                <div class="tab-pane" id="form-idea">
                    {% include 'AppBundle:Idea:newContent.html.twig' with {form: ideaForm} %}
                </div>
                <div class="tab-pane" id="form-document">
                    {% include 'AppBundle:Document:form.html.twig' with {form: documentForm} %}
                </div>
            </div>

            <div class="tabs push-up">
                {% set tabs = knp_menu_get('AppBundle:MainBuilder:mainMenu', ['groups']) %}
                {{ knp_menu_render(tabs.show, { 'style': 'tabs' }) }}
            </div>

            <div class="tab-content" style="overflow: visible">
                <div class="tab-pane active">
                    {% block tab_content %}

                        <div class="cn-feeds">
                            {% include 'AppBundle:Feed:feedsContent.html.twig' with {context: group.subjectReference} %}
                        </div>
                        {% include 'AppBundle:Common:socialJs.html.twig' %}

                        <script>
                            $(function () {
                                $('.cn-feeds').cameleonLoadmore({
                                    loadingText: "Chargement ..."
                                });
                            });
                        </script>
                    {% endblock %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}