{% extends 'AppBundle:Group:show.html.twig' %}

{% block tab_content %}
    <div class="user-list">
        {% if group.countAdministrators > 0 %}
            <div class="title">Administrateurs ({{ group.countAdministrators }})</div>
            <div class="wrap-col">
                {% for user in group.administrators %}
                    <div class="col6">
                        {% include 'AppBundle:User:oneUser.html.twig' %}
                    </div>
                {% endfor %}
            </div>

        {% endif %}
        {% if group.countUsers > 0 %}
            <div class="title">Membres ({{ group.countRealMembers }})</div>
            <div class="wrap-col">
                {% for groupUser in group.users %}
                    {% if not group.hasAdministrator(groupUser.user) %}
                        <div class="col6">
                            {% include 'AppBundle:Group:oneUserMember.html.twig' with {user: groupUser.user} %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if is_granted('EDIT', group) or group.isOpen() %}
            {% if group.countPendingGroupInvites > 0 %}
                <div class="title">Invitations envoyées ({{ group.countPendingGroupInvites }})</div>
                <div class="wrap-col">
                    {% for invite in pendingInvites %}
                        <div class="col6">
                            {% embed 'AppBundle:User:oneUser.html.twig' with {user: invite.user} %}
                                {% block actions %}
                                    <a href="{{ path('es_user_group_invite_cancel', {'id': invite.id}) }}"
                                       class="btn">Annuler l'invitation</a>
                                {% endblock %}
                            {% endembed %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if group.countPendingGroupRequests > 0 %}
                <div class="title">Demandes d'intégration ({{ group.countPendingGroupRequests }})</div>
                <div class="wrap-col">
                    {% for request in pendingRequests %}
                        {% set user = request.user %}
                        <div class="col6">
                            {% include 'AppBundle:Group:oneUserRequest.html.twig' with {user: request.user, groupRequest: request} %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
