{% extends "::base_layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="panel panel-default span9">
        <div class="panel-heading"><h3 class="panel-title"><strong>Connexion automatique</strong></h3></div>
        <p>Si vous êtes connecté au réseau interne AG2R LA MONDIALE</p>

        <div class="panel-body">
            <a href="{{ path('aerial_ship_saml_sp.security.login') }}" class="btn btn-sm btn-default">Connexion automatique</a>
        </div>
    </div>
    <div class="panel panel-default span9">
        <div class="panel-heading"><h3 class="panel-title" id="authLogin"><strong>Connexion avec identifiants</strong>
            </h3></div>
        <p>Si vous êtes connecté depuis votre domicile et/ou via une tablette</p>

        <div class="panel-body">
            <form role="form" method="post" action="{{ path('fos_user_security_check') }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <div class="form-group">
                    <label for="exampleInputEmail1">Identifiant</label>
                    <input type="email" class="form-control" style="border-radius:0px" name="_username"
                           placeholder="Identifiant" value="{{ last_username }}" required="required">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mot de passe <a href="{{ path('fos_user_resetting_request') }}">(mot
                            de passe
                            oublié)</a></label>
                    <input type="password" class="form-control" style="border-radius:0px" name="_password"
                           placeholder="Mot de passe">
                </div>
                {% if error %}
                    <div class="alert alert-danger">{{ error|trans }}</div>
                {% endif %}
                <button type="submit" name="_submit" class="btn btn-sm btn-default">Connexion</button>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        var bIsIE = navigator.appName.indexOf("Microsoft") != -1;
        if (bIsIE) {
            var navVersion = navigator.appVersion;
            if ((navVersion.indexOf("MSIE 6.0") != -1) || (navVersion.indexOf("MSIE 7.0") != -1) || (navVersion.indexOf("MSIE 8.0") != -1)) {
                window.location.href = '/redirect.html';
            }
        }
    </script>
{% endblock %}