{% block notification_row %}

    {% set notificationIcons = {
    comment: 'basic-s-blue_44',
    like: 'custom-blue_52',
    review: 'custom-blue_53',
    assigned_operator: 'basic-s-blue_16',
    reassign_operator: 'basic-s-blue_16',
    group_invite_accepted: 'basic-s-blue_26',
    group_invite_declined: 'basic-s-blue_07',
    group_request: 'basic-s-blue_19',
    group_request_accepted: 'basic-s-blue_26',
    friend_request: 'basic-s-blue_19',
    group_invited: 'basic-s-blue_19',
    friend_request_accepted: 'basic-s-blue_26',
    post: 'basic-s-blue_44',
    idea_status_change: 'basic-s-blue_44',
    add_group_idea: 'basic-s-blue_16',
    'group_status_change.confirmed': 'basic-s-blue_26',
    'vote.up': 'basic-s-blue_32',
    'share': 'basic-s-blue_08',
    } %}
    <div class="notification{% if not notification.read %}
	 unread{% endif %}">
        <div class="notification-status">
            {% if notification.type starts with 'idea_status_change' %}
                <div class="{{ notificationIcons['idea_status_change'] }}"></div>
            {% elseif notificationIcons[notification.type] is defined %}
                <div class="{{ notificationIcons[notification.type] }}"></div>
            {% endif %}
        </div>
        <div class="notification-text">
            {{ notification_sentence(notification, options) }}
        </div>
        <div class="notification-hour">
            {{ time_diff(notification.date) }}
        </div>
    </div>
{% endblock %}

{% block group_request_sentence %}
    {{ translations|transfallback({
    '%actor%': object_label(actor),
    '%type%': type,
    '%sub_type%': sub_type,
    '%object%': object ? object_label(object, {route: 'group_users'}) : null
    }, 'notification') }}
{% endblock %}

{% block idea_status_change_sentence %}
    Votre idée {{ object_label(object) }} est passée à l'état <b>{{ ('idea.statutes.' ~ sub_type)|trans }}</b>
    {% if metadata.admin_message is defined and metadata.admin_message is not empty %}
        <p>
            <b>Avec le motif suivant :</b>
            <br>{{ metadata.admin_message|nl2br }}
        </p>
    {% endif %}
{% endblock %}

{% block share_idea_sentence %}
    {{ object_label(actor) }} vous a partagé l'idée <b>{{ object_label(object) }}</b>
    {% if metadata.message is defined and metadata.message is not empty %}
        <p>
            <b>Avec le message suivant :</b>
            <br>{{ metadata.message|nl2br }}
        </p>
    {% endif %}
{% endblock %}

{% block add_group_idea_sentence %}
    {{ translations|transfallback({
    '%actor%': object_label(actor),
    '%object%': object_label(object, {route: 'group_users'}),
    '%context%': object.group ? object_label(object.group) : null
    }, 'notification') }}
{% endblock %}
