{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="contact-index user-index">

        <div class="tabs push-up">
            {% include 'AppBundle:User:tabs.html.twig' %}
        </div>

        <div class="tab-content push-down">

            {% if friendRequests|length > 0 %}
                <h3>Demandes reçues ({{ friendRequests|length }})</h3>
                <div class="bloc">
                    {% for friendRequest in friendRequests %}
                        {% set user = friendRequest.user %}
                        <div class="request clearfix">
                            <div class="media">
                                <a class="pull-left" href="{{ path('user_show', {id: user.id}) }}">
                                    <img src="{{ user|image('picture', 'small') }}" width="60" class="media-object">
                                </a>
                                <a href="{{ path('user_show', {id: user.id}) }}">
                                    <strong>{{ user.fullname }}</strong>
                                </a>
                            </div>
                            <div class="actions">
                                <a class="btn btn-blue"
                                   href="{{ path('es_user_friend_accept', {'friendRequest': friendRequest.id}) }}">Acceptez</a>
                                <a class="btn btn-blue"
                                   href="{{ path('es_user_friend_refuse', {'friendRequest': friendRequest.id}) }}">Refusez</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <h3>Mes contacts ({{ app.user.countFriends }})</h3>

            <div class="bloc">
                {% if app.user.countFriends > 0 %}

                    <div id="jplist">

                        <div id="filter">
                            <div id="paging" class="paging">
                                <div class="alpha-sort" id="alpha-sort">ABC</div>
                                <div class="results"><span id="info"></span></div>
                                <div id="buttons" class="text breadcrumbs"></div>
                            </div>
                            <div class="sort-tab" id="sort-tab">
                                <a id="all" class="letter all" rel="#">#</a>
                                {% for letter in 'A'..'Z' %}
                                    <a class="letter disabled" rel="{{ letter }}">{{ letter }}</a>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="contacts-box">
                            <div class="wrap-col user-list">
                                {% set drop_cab = null %}
                                <div>
                                    {% for friend in friends %}
                                    {% set user = friend.friend %}
                                    {% set letter = user.lastname|slice(0,1)|upper %}
                                    {% if drop_cab != letter %}
                                </div>
                                <div class="dropcab-group" dropcab="{{ letter }}">
                                    <div class="dropcab">{{ letter }}</div>

                                    {% set drop_cab = letter %}
                                    {% endif %}
                                    <div class="col6">
                                        {% embed 'AppBundle:User:oneUser.html.twig' %}
                                            {% block actions %}
                                                <a href="{{ path('fos_message_thread_new', {'user': user.id}) }}"
                                                   class="btn">Lui écrire</a>
                                            {% endblock %}
                                        {% endembed %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>Vous n'avez aucun contact pour le moment.</p>
                {% endif %}
            </div>

        </div>
    </div>
    <script>
        $(function () {
            $('#alpha-sort').mouseover(function () {
                $('#sort-tab').fadeIn();
            });
            $('#sort-tab').mouseleave(function () {
                $(this).fadeOut();
            })
                    .find('a.letter')
                    .click(function (e) {
                        e.preventDefault();
                        if ($(this).hasClass('disabled')) {
                            return;
                        }
                        var letter = $(this).attr('rel');
                        if (letter == '#') {
                            $('.dropcab-group').show();
                            return;
                        }
                        $('.dropcab-group').hide();
                        $('.dropcab-group[dropcab=' + letter + ']').show();
                    });
            $('.dropcab-group').each(function () {
                var dropcab = $(this).attr('dropcab');
                $('#sort-tab .letter[rel=' + dropcab + ']').removeClass('disabled');
            });
        });
    </script>


{% endblock %}

