<div class="user{% block classes '' %}">
    <div class="media">
        <!-- thumb -->
        <a href="{{ path('user_show', {id: user.id}) }}" class="pull-left">
            <img width="60" class="media-object"
                 src="{{ user|image('picture', 'small') }}">
        </a>
        <!-- text -->
        <div class="media-body">
            <!-- name -->
            <div class="name">
                <a href="{{ path('user_show', {id: user.id}) }}">
                    <strong>{{ user.fullname }}</strong>
                </a>
            </div>

            {% block actions %}
                {% if not app.user or (app.user != user and not es_is_friend(user)) %}
                    <a href="{{ path('es_user_friend_request', {user: user.id}) }}" title="Ajouter à mes contacts" class="pull-right message">
                        <i class="custom-blue_42"></i>
                    </a>
                {% endif %}
            {% endblock actions %}

            {% if user_action_link is defined %}
                <div class="action">
                    {{ user_action_link|raw }}
                </div>
            {% else %}
                <!-- role -->
                <div class="role pull-left">
                    {#{% if user.jobposition is defined %}#}
                    {#{{ user.jobposition.name }}#}
                    {#{% endif %}#}
                </div>
            {% endif %}
        </div>
    </div>
    {% block extended %}{% endblock %}
</div>
