{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="user-show content-wrp">

        {# heading #}
        <div class="heading links">
            <div class="title">{{ user.fullname }}</div>
            {% if user.id == app.user.id %}
                <a class="btn primary2" href="{{ path('fos_user_profile_edit') }}">Modifier</a>
            {% endif %}
        </div>

        {# user headline #}
        <div class="media headline">

            <a class="bloc media-object pull-left text-center">
                <img src="{{ user|image('picture', 'medium') }}" width="100">
            </a>

            <div class="media-body">
                <div class="bloc">
                    <div class="details">
                        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                        {% if user.phone %}- {{ user.phone }}{% endif %}
                    </div>

                    <div class="row-fluid push-up">
                        <div class="span8">
                            <a class="contacts">
                                {% spaceless %}
                                    <img class="icons-mr" src="{{ asset('bundles/app/images/humans.png') }}">
                                    <span>{{ '{0} Aucun contact|{1} 1 contact|[2,Inf[ %count% contacts'|transchoice(user.countFriends) }}</span>
                                {% endspaceless %}
                            </a>

                            <div class="push-up">
                                {% if user.loginName is not empty %}
                                    &nbsp;|&nbsp;
                                    <a href="{{ user.intranetProfileUrl }}" class="contacts">
                                        <span>Lien vers son profil intranet</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="span4">
                            <div class="user-action">
                                {% trans_default_domain 'FOSUserBundle' %}

                                {% if app.user and app.user.id != user.id %}
                                    <div class="friend-controls">
                                        {% if friendRequest is empty or (friendRequest.status == 'refused' and friendRequest.friend.id == app.user.id) %}
                                            <a
                                                    href="{{ path('es_user_friend_request', {user: user.id}) }}">
                                                {{ 'friend.action.add'|trans }}
                                            </a>
                                        {% elseif friendRequest.status == 'pending' %}
                                            {% if friendRequest.user == app.user %}
                                                <a
                                                        href="{{ path('es_user_friend_cancel', {friendRequest: friendRequest.id}) }}">
                                                    {{ 'friend.action.cancel'|trans }}
                                                </a>
                                            {% else %}
                                                <a class="cn-friend-action"
                                                   href="{{ path('es_user_friend_accept', {friendRequest: friendRequest.id}) }}">
                                                    {{ 'friend.action.accept'|trans }}
                                                </a> -
                                                <a class="cn-friend-action"
                                                   href="{{ path('es_user_friend_refuse', {friendRequest: friendRequest.id}) }}">
                                                    {{ 'friend.action.refuse'|trans }}
                                                </a>
                                            {% endif %}
                                        {% elseif friendRequest.status == 'confirmed' %}
                                            <a class="cn-friend-action"
                                               href="{{ path('es_user_friend_unfriend', {user: user.id}) }}">
                                                Supprimer ce contact
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}

                            </div>
                            {% if es_is_friend(user) %}
                                <div class="user-action send-message">
                                    <a style="margin-left: -2px;font-size:12px;"
                                       href="{{ path('fos_message_thread_new', {'user': user.id}) }}"><span>Lui écrire</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {# Description #}
        <h3>Description du profil</h3>

        <div class="bloc">
            <p>{{ user.description|nl2br }}</p>
        </div>


        <h3>Centres d'intérêt
            <small>: ce sur quoi j'aimerais être informé</small>
        </h3>
        <div class="bloc">
            <ul class="user_tags">
                {% for tag in user.interests %}
                    <li>{{ tag.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

