{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="contact-index user-index">

        <div class="tabs push-up">
            {% include 'AppBundle:User:tabs.html.twig' %}
        </div>

        <div class="tab-content push-down">
            {# heading #}
            <div class="heading links">
                <div class="title">Recommandations</div>
            </div>

            {# user headline #}
            <div class="media headline">
                <div class="wrap-col user-list">
                    {% for user in users %}
                        <div class="col6">
                            {% embed 'AppBundle:User:oneUser.html.twig' %}
                                {% block actions %}
                                    <a href="{{ path('es_user_friend_request', {user: user.id}) }}"
                                       title="Ajouter à mes contacts" class="pull-right message">
                                        <i class="custom-blue_42"></i>
                                    </a>
                                {% endblock %}
                            {% endembed %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block user_suggest_widget %}
{% endblock %}