{% if users|length > 0 %}
    <section class="widget members-recommandation">
        <div class="widget-header">Membres recommandés</div>

        <div class="wrap">
            {% for user in users %}
                {% embed 'AppBundle:User:oneUser.html.twig' %}
                    {% block actions %}
                        <a href="{{ path('es_user_friend_request', {user: user.id}) }}"
                           title="Ajouter à mes contacts" class="pull-right message">
                            <i class="custom-blue_42"></i>
                        </a>
                    {% endblock %}
                {% endembed %}

            {% endfor %}

            <p class="text-right">
                <a title="Voir plus de membres recommandés" href="{{ path('users_suggest') }}">Voir plus de membres
                    recommandés</a>
            </p>

        </div>

    </section>
{% endif %}