<ul class="nav nav-tabs">
    {% for k,v in {'user_contacts': 'Mes contacts', 'users_suggest': 'Les connaissez-vous ?'} %}
        <li{% if k == app.request.attributes.get('_route') %} class="active"{% endif %}><a
                    href="{{ path(k) }}">{{ v }}</a></li>
    {% endfor %}
</ul>