{% if modal %}<div id="cgu-modal" class="modal large-modal hide fade">
    <div class="modal-data">{% endif %}
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3>Conditions générales d’utilisation</h3>
    </div>
    <div class="modal-body">
        {% include 'AppBundle:User:terms_content.html.twig' %}
    </div>
    {% if not app.user.termsAccepted %}
        <div class="modal-footer">
            <form method="post" action="{{ path('terms') }}">
                <div class="directions">
                    <div class="left">
                        <label class="checkbox">
                            <input type="checkbox" name="termsAccepted"> J’accepte les Conditions Générales
                            d’Utilisation
                        </label>
                    </div>
                    <div class="right">
                        <button type="submit" class="btn primary">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
    {% if modal %}
    </div>
</div>
{% endif %}
