<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>

    <h3>Conditions générales d’utilisation</h3>
</div>
<div class="modal-body">
    {% include 'ESBaseBundle:Flashes:messages.html.twig' %}
    {% include 'AppBundle:User:terms_content.html.twig' %}
</div>