{% block user_label -%}
    <a href="{{ es_path('user_show', {id: object.id}) }}">{{ object.displayName }}</a>
{%- endblock %}

{% block user_card %}
    <div>
        <a href="{{ es_path('user_show', {id: object.id}) }}">{{ object.displayName }}</a>
    </div>
{% endblock %}

{% block group_label -%}
    {% set route = options.route|default('group_show') %}
    <a href="{{ es_path(route, {id: object.id}) }}">{{ object.name }}</a>
{%- endblock %}

{% block group_card %}
    <div>
        <a href="{{ es_path('group_show', {id: object.id}) }}">{{ object.name }}</a>
    </div>
{% endblock %}

{% block idea_label -%}
    <a href="{{ object.group is null ? es_path('idea_show', {idea: object.id}) : es_path('group_idea_show', {idea: object.id, group: object.group.id}) }}">{{ object.name }}</a>
{%- endblock %}

{% block idea_card %}
    <div class="cn-card">
        <p>{{ object.description|truncate(200)|nl2br }}</p>
    </div>
{% endblock %}

{% block feed_label -%}
    <a href="{{ es_path('es_social_feed_permalink', {'id': object.subjectReference.id}) }}">une publication</a>
{%- endblock %}

{% block document_label -%}
    <a href="{{ es_path('document_download', {'document': object.id, 'hash': object.hash}) }}">un document</a>
{%- endblock %}

{% block document_card -%}
    {% include 'AppBundle:Document:oneDocument.html.twig' with {document: object} %}
{%- endblock %}

{% block feed_card %}
    <div class="one-feed">
        {{ story_row(object, {attachment: true}) }}
    </div>
{% endblock %}
