.document-list {

    .document {
        .clearfix;
        position: relative;
        .bloc;

        .doc-left, .doc-right, .media-object {
            float: left;
        }
        .doc-left {
            width: 80%;
        }
        .doc-right {

            .size(100%, 20%);
            text-align: right;
        }

        .media-object {
            margin-right: 15px;
        }
        .media-body {
            padding-top: 5px;
        }

        .doc-name, .doc-download {
            font-size: 14px;
        }
        .doc-desc {
            padding: 5px;
            background-color: @tertiary;
            .verdana;
        }
        .doc-download {
            position: absolute;
            right: 10px;
            bottom: 10px;

            a {
                .secondary;
                *margin-left: 5px;
            }
        }
        .close {
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

}