.team-wrap {
    margin-bottom: 20px;

    .add-team-user {
        margin-bottom: 15px;

        a {
            &:hover {
                text-decoration: none;
            };
            span {
                vertical-align: bottom;
                font-weight: bold;
            }
        }
    }
}

.team-wrap .mg-wrap {

    .ms-sel-ctn .ms-sel-item {
        background: #d1d1d1;
    }
    .ms-sel-item {
        padding: 10px;
        width: 234px;
        float: left;
    }
}

.ms-sel-item .team-user-wrap {
    float: left;
    width: 215px;
}