.group-list {

    .group {
        position: relative;
        *z-index: 0;

        .close {
            .opacity(100);
            margin-top: -2px;
            position: absolute;
            top: 10px;
            right: 5px;

            .caret {
                margin: 7px 0 0;
            }
        }
        .name, .info, .description {
            padding: 10px;
        }
        .description {
            .verdana;
            font-size: 11px;
            line-height: 13px;
        }
        .name {
            padding-right: 15px;
            height: 14px;
            overflow: hidden;
            background-color: @primary;
            position: relative;

            a {
                display: block;
                height: 14px;
                overflow: hidden;
                width: 96%;
                .white;
            }
        }
        .info-wrapper {
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 34px;
            z-index: @zindexDropdown;
            background-color: @tertiary;
            border: 1px solid @white;
            border-top: 0;
        }
    }
}