.message-list {

    .media-object {
        float: left;
        margin-right: 10px;
    }
    .media-body {

        > p {
            .verdana;
        }
        .media-heading {
            .clearfix;
            position: relative;

            h3 {
                margin: 0 0 10px;
                display: inline-block;
                float: left;
            }
            .time-ago {
                margin-left: 10px;
                float: left;
                line-height: 20px;
                .gotham-book;
            }
            form a {
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;

                &:hover {
                    .opacity(50);
                }
            }
        }

    }
}