.object-description {

    span {
        margin-bottom: 5px;
        display: inline-block;
    }
    .line {

        label {
            .bold;
        }
        textarea {
            width: 575px;
            color: @secondary;
        }
    }

}