.one-task-on-a-list {

    .experiment_label {
        .size(20px,415px);
        padding: 3px;
        background-color: @white;
        border-top: 1px solid #ABADB3;
        border-bottom: 1px solid #ABADB3;
        border-left: 1px solid #ABADB3;
        line-height: 21px;
        cursor: pointer;

        span {
            display: block;
            height: 21px;
            overflow: hidden;
        }
    }
    .experiment {
        position: relative;
        margin-right: 80px;

        input{
            .size(23px,40px);
            background-color: #17BAE5;
            color: @white;
            font-size: 10px;
        }
        .tab {
            position: absolute;
            top: 4px;
        }
    }
    .right_arrow {
        display: inline-block;
        .size(33px,30px);
        background: url("@{img-path}/common/expe_arrow.png") no-repeat;
        vertical-align: middle;
    }
}
