.one-social {
    clear: both;

    > ul {
        .clearfix;
        margin: 0;
        padding: 10px 0;
        list-style: none;

        a {
            color: @secondary;
            font-size: 11px;
            vertical-align: top;
        }

        li {
            float: left;
            display: inline-block;
            .ie7-inline-block();
            margin: 0 10px 0 0;

            i {
                margin: 0 5px 0 0;
            }
            &.report-abuse {
                float: right;
                margin: 0;

                a {
                    color: @primary;
                }
            }
            &.unlike {

                > a i {
                    .custom-blue_45;
                }
            }

        }
    }

}

.unlike {

    &, a, span { .primary; }

    > a i {
        .custom-blue_52;
    }
}

.one-experimentation-on-a-list,
.one-innovation-on-a-list,
.one-idea {

    .one-social { margin-left: 100px; } // TODO => remove
}
