<li class="one-comment-on-a-list cn-comment" data-cid="{{ comment.id }}">
    <div class="media">
        <!-- thumb -->
        <a class="pull-left cn-user" href="{{ path('user_show', {id: comment.user.id}) }}"
           title="{{ comment.user.displayName }}">
            <img class="media-object"
                 src="{{ comment.user|image('picture', 'small') }}"
                 width="30" alt="{{ comment.user.displayName }}">

        </a>
        <!-- comment -->
        <div class="media-body">
            <!-- text -->
            <a class="author" href="{{ path('user_show', {id: comment.user.id}) }}">{{ comment.user.displayName }}</a>

            <p class="comment-text">{{ comment.message|escape|nl2br|es_mentionize(comment)|urlize|raw }}</p>
            <!-- infos -->
            <div class="comment-infos">
                {#<span class="pull-left like" oid="objectComment/90">#}
                {#<a href="#">#}
                {#<i class="custom-blue_52"></i>#}
                {#<span class="lbl">J'aime</span>#}
                {#</a>#}
                {#(<span class="nb-likes">0</span>)</span>#}
                <span class="timeago pull-right momentjs-unix">
                    {{ time_diff(comment.createdAt) }}
                </span>
            </div>
        </div>

        {% if app.user and app.user == comment.user %}
            <a class="cn-delete close" href="{{ path('es_social_comment_delete', {id: comment.id}) }}"
               title="{{ 'comment.delete'|trans({}, 'ESSocialBundle') }}">
                <i class="basic-s-black_42"></i>
            </a>
        {% endif %}

        </a>
        {#<a href="#90" class="edit">#}
        {#<i class="basic-s-black_02"></i>#}
        {#</a>#}
    </div>
</li>