{% if comments.hasMore is defined and comments.hasMore %}
	<li class="loadmore-action">
		<a href="{{ comments.moreUri|raw }}" class="loadmore-btn">
			Voir les commentaire précédents
		</a>
	</li>
{% endif %}

{% for comment in comments %}
	{% include 'ESSocialBundle:Comment:comment.html.twig' %}
{% endfor %}