{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    {% if edito is not null %}
        <div class="edito">
            {{ edito.body|raw }}
        </div>
    {% endif %}

    {% include 'AppBundle:Feed:timeline.html.twig' %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}
