{% for feed in feeds %}
    {% include 'ESSocialBundle:Feed:oneFeed.html.twig' %}
{% endfor %}
{% if feeds.hasMore %}
    <div class="loadmore-action load-more">
        <a href="{{ feeds.moreUri|raw }}" class="loadmore-btn">
            <i class="basic-s-black_09"></i>
            Charger plus d'actualités
        </a>
    </div>
{% endif %}