<div class="tabs push-up">
    <ul class="nav nav-tabs tabs-post">
        <li class="active"><a href="#form-post" data-toggle="tab">
                <i class="i-post"></i>
                Poster une actualité
            </a></li>
        <li><a href="#form-idea" data-toggle="tab">
                <i class="i-idea"></i>
                Soumettre une idée
            </a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="form-post">
        {% include 'ESSocialBundle:Feed:form.html.twig' with {form: feedForm} %}
    </div>
    <div class="tab-pane" id="form-idea">
        {% include 'AppBundle:Idea:newContent.html.twig' with {form: ideaForm} %}
    </div>
</div>


<div class="tab-content push-up">
    <div id="feeds" class="cn-feeds">
        {% include 'AppBundle:Feed:feedsContent.html.twig' %}
    </div>
</div>

{% include 'AppBundle:Common:socialJs.html.twig' %}

<script>
    $(function () {
        $('.cn-feeds').cameleonLoadmore({
            loadingText: "Chargement ..."
        });
    });
</script>